
<div class="statistic-row">
  <div class="statistic-card">
    <div class="sub-number">N/A (2022-09-01)</div>
    <div class="sub-number">N/A (2021-09-01)</div>
    <div class="sub-number">N/A (2020-09-01)</div>
    <p>Active members for the <br> past three years</p>
  </div>
  <div class="statistic-card">
    <div class="number">2</div>
    <p>Active members (real time)</p>
  </div>
  <div class="statistic-card">
    <div class="number">1</div>
    <p>Pending members (real time)</p>
  </div>
  <div class="statistic-card card-50">
    <p class="mb-4">Age spread of active members</p>
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <div class="sub-number"> <26y </div>
        <div class="number">0%</div>
        <p>65</p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <div class="sub-number"> <26-30y </div>
        <div class="number">0%</div>
        <p>247</p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <div class="sub-number"> <30-40y </div>
        <div class="number">100%</div>
        <p>1431</p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <div class="sub-number"> >=40y </div>
        <div class="number">0%</div>
        <p>1007</p>
      </div>
    </div>
  </div>
</div>