
<div class="statistic-row">
  <div class="statistic-card card-small">
    <div class="number">01.09.21</div>
    <p>Start date if NR <br> nabdate</p>
  </div>
  <div class="statistic-card card-small">
    <div class="number">1</div>
    <p>Events attended <br> since 01-09-2021</p>
  </div>
  <div class="statistic-card card-small">
    <div class="number">1</div>
    <p>Events attended since 01-09-2021 in Belgium</p>
  </div>
  <div class="statistic-card card-small">
    <div class="number">2</div>
    <p>event(s) as part of OC <br>since 01-09-2021</p>
  </div>
  <div class="statistic-card card-small">
    <div class="number">1</div>
    <p>event(s) as part of <br>OC since 01-09-2021 <br>in Belgium</p>
  </div>
  <div class="statistic-card card-small">
    <div class="number">1</div>
    <p>events organised in <br>Belgium since <br>01-09-2021</p>
  </div>
  <div class="statistic-card card-50 smaller">
    <div class="number">30</div>
    <p>members from Belgium taking part to AIJA events <br>since 01-09-2021</p>
  </div>
</div>