$white: #ffffff;
$black: #000000;

$blue: #0066FF; // NewLink
$aija-blue: #17233D;
$aija-blue_2: #00ABC9;
$aija-red: #E42313;
$aija-grey: #2f3951;
$aija-gray2: #F1F4F7;
$aija-gray3: #1A2128;
$aija-gray100: #EEF1F3;
$aija-gray500: #919BA3;
$aija-gray700: #5E6A74;
$aija-gray800: #434D56;

$textColor: #162231;
$textBoldColor: #141619;
$gray01: #454F5B;
$gray02: #637381;
$gray03: #919EAB;
$gray04: #C4CDD5;
$gray05: #F1F4F7;
$gray06: #F4F6F8;
$gray07: #F9FAFB;


$grey: #D7D7D7;
$pink: #FFF1E5;
$pink2: #FDE5E5;
$color-new-grey: #2D2828;
$color-grey: #4A4A4A;

$success: #00856A;
