* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
	font-family: $clarica;
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #ffffff;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background: $aija-blue;
  }
}
.container{
  max-width: 1164px;
}

main {
	min-height: 100vh;
	display: block;
}

/* H1 */
h1 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%; /* identical to box height, or 42px */
  color: #000000;
}
/* H2 */
h2 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%; /* or 36px */
  color: #000000;
}
/* H3 */
h3 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%; /* identical to box height, or 29px */
  color: #000000;
}
/* H4 */
h4 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%; /* identical to box height, or 26px */
  color: #000000;
}
/* H5 */
h5 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%; /* or 23px */
  color: #000000;
}
/* H6 */
h6 {
  font-family: $libre;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; /* identical to box height */
  color: #000000;
}

main.main-container {
  position: relative;
  @media (min-width: 992px) {
    padding-top: 77px;
  }
}


/*
* Preloader
*/
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0.2, 0.2, 0.2);
		transform: scale3d(0.2, 0.2, 0.2);
	}
}
@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0.2, 0.2, 0.2);
		transform: scale3d(0.2, 0.2, 0.2);
	}
}
@-webkit-keyframes pulse2 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
}
@keyframes pulse2 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes pulse3 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	90% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse3 {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	90% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.main-loaderm{
	position: fixed;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}
.loader1{
	width: 20px;
	height: 20px;
	background-color: #D7D7D7;
	border-radius: 50%;
	float: left;
	z-index: 9;
	position: absolute;
	left: 20px;
	top: 20px;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: center;
	animation-delay: 0s;
	transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader2{
	width: 40px;
	height: 40px;
	background-color: rgba(215, 215, 215, .8);
	border-radius: 50%;
	float: left;
	z-index: 8;
	opacity: 0.7;
	position: absolute;
	left: 10px;
	top: 10px;
	-webkit-animation-name: pulse2;
	animation-name: pulse2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 0.3s;
	transform-origin: center;
	transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader3{
	width: 60px;
	height: 60px;
	background-color: rgba(215, 215, 215, .6);
	border-radius: 50%;
	float: left;
	z-index: 7;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-animation-name: pulse3;
	animation-name: pulse3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
	transform-origin: center;
	transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-loader {
	position: fixed;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}

.preloader-group {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}

.btn-group{
  width: 100%;
  max-width: 210px;
  margin-left: 7px;
  @media all and(max-width: 992px) {
    margin-right: 0;
  }
}
.button {
  &.btn-red {
    font-family: $clarica;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    position: relative;
    width: 100%;
    border-radius: 0;
    color: $white;
    border: 1px solid $aija-red;
    background: $aija-red;
    transition: all .3s;
    @media all and (max-width: 767px){
      font-size: 15px;
      padding: 10px 0;
      max-width: 360px;
    }

    &:hover {
      transition: all .3s;
      color: $aija-red;
      background: $white;
      outline: none;
      box-shadow: none;
    }
  }
  &.btn-white{
    font-family: $clarica;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    position: relative;
    width: 100%;
    border-radius: 0;
    color: $textColor;
    border: 1px solid $gray05;
    background: $white;
    transition: all .3s;
  }
  &.btn-gray {
    font-family: $clarica;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    position: relative;
    width: 100%;
    border-radius: 0;
    color: $textColor;
    border: 1px solid $gray06;
    background: $gray06;
    transition: all .3s;
    &:focus,
    &:hover {
      transition: all .3s;
      color: $aija-red;
      outline: none;
      border: 1px solid $gray06;
      box-shadow: none;
    }
  }
  &.add-to-calendar{
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 33%;
      right: 13px;
      background: url('../images/icons/ArrowDown.svg') no-repeat;
      background-size: cover;
      border: none;
      transition: .3s;
    }
    &.show{
      &:after{

        transition: .3s;
        transform: rotate(180deg)
      }
    }
  }
}
.to-calendar{
  .dropdown-menu{
    width: 100%;
    padding: 8px;
    border-radius: 0;
    min-width: 210px;
    max-width: 360px;
    li{
      padding-bottom: 8px;
      &:last-child{
        padding-bottom: 0;
      }
      a{
        font-family: $clarica;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        position: relative;
        width: 100%;
        border-radius: 0;
        padding: 10px 6px;
        &:hover{
          background: $gray06;
        }
        img{
          margin-right: 10px;
        }
      }
    }
  }
}
