<div class="chat-main__messages">
  <div class="search-field-wrapper">
    <input type="search" class="form-control serach-text" placeholder="Search..." aria-label="Search" id="serach-text" name="serach-text" data-parsley-errors-container="#errors" />
  </div>
  <ul class="chat-serach__list">
    <li class="chat-list-item">
      <a href="#chat_action=new-chat" class="message-item">
        <div class="message-user">
          <div class="user-photo">
            <img src="assets/images/Avatar_5.png" alt="Monty Dhaliwal" />
          </div>
          <span class="user-status busy"></span>
        </div>
        <div class="message-info">
          <h6 class="user-name">Albert Flores</h6>
          <div class="message-text">
            <p>Lorem Ipsum is simply...</p>
          </div>
        </div>
      </a>
    </li>
    <li class="chat-list-item">
      <a href="#chat_action=new-chat" class="message-item">
        <div class="message-user">
          <div class="user-photo">
            <img src="assets/images/profile-photo-02.png" alt="Monty Dhaliwal" />
          </div>
          <span class="user-status online"></span>
        </div>
        <div class="message-info">
          <h6 class="user-name">Floyd Miles</h6>
          <div class="message-text">
            <p>Lorem Ipsum is simply...</p>
          </div>
        </div>
      </a>
    </li>
  </ul> <!-- .chat-serach__list -->
</div> <!-- .chat-main__messages -->