<div class="chat-section">
  <div class="chat-sidebar">

    <div class="chat-sidebar__header">

      <div class="chat-sidebar__header--top">
        <h3 class="header-title">All messages</h3>
        <div class="header-actions">
          <a href="#chat_action=new" class="btn chat-new-message">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#232C34" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.0512 4.89768H4.78915C4.31464 4.89768 3.85956 5.08618 3.52403 5.42171C3.1885 5.75724 3 6.21231 3 6.68682V19.2109C3 19.6854 3.1885 20.1404 3.52403 20.476C3.85956 20.8115 4.31464 21 4.78915 21H17.3132C17.7877 21 18.2428 20.8115 18.5783 20.476C18.9138 20.1404 19.1023 19.6854 19.1023 19.2109V12.9488M17.7605 3.55582C18.1163 3.19993 18.599 3 19.1023 3C19.6056 3 20.0883 3.19993 20.4442 3.55582C20.8001 3.9117 21 4.39438 21 4.89768C21 5.40097 20.8001 5.88365 20.4442 6.23954L11.9457 14.738L8.36744 15.6326L9.26201 12.0543L17.7605 3.55582Z" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div> <!-- &--top -->

      <div class="chat-sidebar__header--bottom">
        <div class="search-field-wrapper">
          <input type="search" class="form-control serach-text" placeholder="Search..." aria-label="Search" id="serach-text" name="serach-text" data-parsley-errors-container="#errors" />
        </div>
      </div> <!-- &--bottom -->

    </div> <!-- .chat-sidebar__header -->

    <div class="chat-sidebar__body">
      <ul class="chat-sidebar__list">
        @@include('../message/_message-item-big-02.html')
        @@include('../message/_message-item-big-01.html')
        @@include('../message/_message-item-big-03.html')
        @@include('../message/_message-item-big-04.html')
        @@include('../message/_message-item-big-05.html')
        @@include('../message/_message-item-big-02.html')
        @@include('../message/_message-item-big-01.html')
        @@include('../message/_message-item-big-03.html')
        @@include('../message/_message-item-big-04.html')
        @@include('../message/_message-item-big-05.html')
      </ul> <!-- .chat-sidebar__list -->
    </div>

  </div> <!-- .chat-sidebar__body -->

  <div class="chat-main">

    <div id="chat-01" class="chat-main__body">

      <div class="chat-main__header">
        <div class="message-user-info">
          <div class="message-user">
            <div class="user-photo">
              <img src="assets/images/Avatar_2.png" alt="Wade Warren" />
            </div>
            <span class="user-status online"></span>
          </div>
          <h6 class="user-name">Wade Warren</h6>
        </div>
        <div class="chat-main__header-actions">

        </div>
      </div> <!-- .chat-main__header -->

      <div class="chat-main__messages">
        messages list
      </div> <!-- .chat-main__messages -->

      <form class="chat-main__form">
        <input type="text" class="user-input" placeholder="message..."/>
        <button>
          <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
        </button>
      </form> <!-- .chat-main__form -->

    </div> <!-- .chat-main__body #chat-01 -->

    <div id="new" class="chat-main__body hide">

      <div class="chat-main__header">
        <h4 class="title">New message</h4>
      </div> <!-- .chat-main__header -->

      <div class="chat-main__messages">
        messages list
      </div> <!-- .chat-main__messages -->

      <form class="chat-main__form">
        <input type="text" class="user-input" placeholder="message..."/>
        <button>
          <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
        </button>
      </form> <!-- .chat-main__form -->

    </div> <!-- .chat-main__body #new -->

  </div> <!-- .chat-main -->

</div>