<div class="tab-item-content" id="tab-documents">
	<h4>Documents</h4>
	<div class="file-group">
		<div class="file-item">
			<a href="#" download="proposed_file_name" class="d-flex">
				<img src="assets/images/icons/download.svg" class="icon"
						 alt="download">
				<span class="file-info d-flex flex-column">
					<span class="file-name">AIJABreakfastWashingtonProgramme</span>
					<span class="file-size">PDF Document, 457kb</span>
				</span>
			</a>
		</div>
		<div class="file-item">
			<a href="#" download="proposed_file_name" class="d-flex">
				<img src="assets/images/icons/download.svg" class="icon"
						 alt="download">
				<span class="file-info d-flex flex-column">
					<span class="file-name">AIJABreakfastWashingtonBrochure</span>
					<span class="file-size">PDF Document, 255kb</span>
				</span>
			</a>
		</div>
	</div>
</div>
