<div class="tab-item-content" id="tab-sponsors">
	<h4>Sponsors</h4>

	<div class="sponsors platinum-sponsors">
		<div class="sponsors-title">Platinum sponsors</div>
		<div class="sponsors-items d-flex flex-wrap">
			<div class="sponsors-item">
				<img src="assets/images/platinum_1.svg" class="icon"
						 alt="platinum_1">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_2.svg" class="icon"
						 alt="platinum_2">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_3.svg" class="icon"
						 alt="platinum_3">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_4.svg" class="icon"
						 alt="platinum_4">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_5.svg" class="icon"
						 alt="platinum_5">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_6.svg" class="icon"
						 alt="platinum_6">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_7.svg" class="icon"
						 alt="platinum_7">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_8.svg" class="icon"
						 alt="platinum_8">
			</div>

		</div>
	</div> <!-- .sponsors -->

	<div class="become-a-sponsor sponsors text-white">
		<h4 class="text-white">Become a sponsor</h4>
		<p>Partnering with AIJA as a sponsor provides the best networking opportunities in a relaxed business environment... </p>
		<div class="button-group">
			<a href="#" class="button btn-red">Become a sponsor</a>
			<a href="#" class="button btn-border">More about sponsorship</a>
		</div>
	</div> <!-- .become-a-sponsor -->

	<div class="sponsors gold-sponsors">
		<div class="sponsors-title">Gold sponsors</div>
		<div class="sponsors-items d-flex flex-wrap">
			<div class="sponsors-item">
				<img src="assets/images/platinum_6.svg" class="icon"
						 alt="platinum_6">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_5.svg" class="icon"
						 alt="platinum_5">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_8.svg" class="icon"
						 alt="platinum_8">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/platinum_7.svg" class="icon"
						 alt="platinum_7">
			</div>
		</div>
	</div> <!-- .sponsors -->

	<div class="sponsors silver-sponsors">
		<div class="sponsors-title">Silver sponsors</div>
		<div class="sponsors-items d-flex flex-wrap">
			<div class="sponsors-item">
				<img src="assets/images/silver_1.svg" class="icon"
						 alt="silver_1">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/silver_2.svg" class="icon"
						 alt="silver_2">
			</div>
			<div class="sponsors-item">
				<img src="assets/images/silver_3.svg" class="icon"
						 alt="silver_3">
			</div>

		</div>
	</div> <!-- .sponsors -->

</div>
