<div class="tab-item-content" id="tab-privacy-policy">
	<h4>Personal Protection</h4>
	<div class="content">
		<p>The personal data that you communicate to us shall be processed by the Iternational Association Of Young Lawyers
			(AIJA), with its registered office at Avenue de Tervueren 231, 1150 Brussels, Belgium (Tel: +32 2 347 33 34 -
			office@aija.com), in accordance with Act No. 78-17 of January 6, 1978 relating to data, files and freedoms and
			Regulation No. 2016/679 on data protection, as of its entry into force on May 25, 2018.
		</p>

		<p>Your data will be managed by AIJA's General Services, Events and Accounts Section:
		<ul>
			<li> For the purpose of administering your registration for the event and your on-site access to the event;</li>
			<li>In order to pay for the selected services - your bank details will be deleted after receipt of your payment;
			</li>
			<li>In order to communicate information messages from AIJA.</li>
		</ul>
		</p>
		<p>
			To the extent necessary for the execution of their respective tasks, our subcontractors in charge of our seminar
			organisation, our IT infrastructure, our management, the production and maintenance of our website and extranet,
			are likely to gain access to your data from time to time.
			Their servers are located in the European Union.
		</p>
		<p>
			Data relating to your participation in the event shall be stored for a period of 10 years. We are obliged to
			archive billing data until the end of the period required for our tax and accounting obligations, i.e. for 7 full
			tax years.
		</p>
		<p>
			We shall store your contact information to keep you informed until you ask us to stop. You have the right to
			access your data and have it corrected if necessary.</p>

	</div>
</div>
