<div class="tab-item-content" id="tab-programme">
	<h4>Programme</h4>

	<div class="accordion events-programme" id="event_group_1">
		<h6>Monday, 02 May</h6>
		<div class="accordion-item d-flex">
			<div class="event-time">09:00 - 09:30</div>
			<div class="event-description">
				<h2 class="accordion-header" id="event_item_1">
					<button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseEvent_1" aria-expanded="false" aria-controls="collapseEvent_1">
						Welcome Cocktail
					</button>
				</h2>
				<div id="collapseEvent_1" class="accordion-collapse collapse" aria-labelledby="event_item_1"
						 data-bs-parent="#event_group_1">
					<div class="accordion-body">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item d-flex">
			<div class="event-time">09:30 - 14:00</div>
			<div class="event-description">
				<h2 class="accordion-header" id="event_item_2">
					<button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseEvent_2" aria-expanded="false" aria-controls="collapseEvent_2">
						Free activity
					</button>
				</h2>
				<div id="collapseEvent_2" class="accordion-collapse collapse" aria-labelledby="event_item_2"
						 data-bs-parent="#event_group_1">
					<div class="accordion-body">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion events-programme" id="event_group_2">
		<h6>Tuesday, 03 May</h6>
		<div class="accordion-item d-flex">
			<div class="event-time">09:00 - 09:30</div>
			<div class="event-description">
				<h2 class="accordion-header" id="event_item_3">
					<button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseEvent_3" aria-expanded="false" aria-controls="collapseEvent_3">
						Registration of Participiants
					</button>
				</h2>
				<div id="collapseEvent_3" class="accordion-collapse collapse" aria-labelledby="event_item_3"
						 data-bs-parent="#event_group_2">
					<div class="accordion-body">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item d-flex">
			<div class="event-time">09:30 - 10:00</div>
			<div class="event-description">
				<h2 class="accordion-header" id="event_item_4">
					<button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseEvent_4" aria-expanded="false" aria-controls="collapseEvent_4">
						Opening
					</button>
				</h2>
				<div id="collapseEvent_4" class="accordion-collapse collapse" aria-labelledby="event_item_4"
						 data-bs-parent="#event_group_2">
					<div class="accordion-body">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					</div>
				</div>
			</div>
		</div>

		<div class="accordion-item d-flex">
			<div class="event-time">10:00 - 12:00</div>
			<div class="event-description">
				<h2 class="accordion-header" id="event_item_5">
					<button class="accordion-button collapsed button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseEvent_5" aria-expanded="false" aria-controls="collapseEvent_5">
						Closing
					</button>
				</h2>
				<div id="collapseEvent_5" class="accordion-collapse collapse" aria-labelledby="event_item_5"
						 data-bs-parent="#event_group_2">
					<div class="accordion-body">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
