<div class="tab-item-content" id="tab-organising_committee">
	<h4>Organising Committee</h4>
	<div class="committee-group">
		<div class="committee-item d-flex">
			<div class="committee-image">
				<a href="#">
					<img src="assets/images/Avatar_1.png" class="icon"
							 alt="avatar_1">
				</a>
			</div>
			<div class="committee-info d-flex flex-column">
				<a href="#" class="committee-name">Marvin McKinney</a>
				<span class="committee-desc">NERA Economic Consulting, London, England</span>
			</div>

		</div>
		<div class="committee-item d-flex">
			<div class="committee-image">
				<a href="#">
					<img src="assets/images/Avatar_2.png" class="icon"
							 alt="avatar_2">
				</a>
			</div>
			<div class="committee-info d-flex flex-column">
				<a href="#" class="committee-name">Jane Cooper</a>
				<span class="committee-desc">Nsiah Akuetteh & Co., Accra, Ghana; Membership Officer, Communications Law Committee</span>
			</div>

		</div>
		<div class="committee-item d-flex">
			<div class="committee-image">
				<a href="#">
					<img src="assets/images/Avatar_3.png" class="icon"
							 alt="avatar_3">
				</a>
			</div>
			<div class="committee-info d-flex flex-column">
				<a href="#" class="committee-name">Bessie Cooper</a>
				<span class="committee-desc">AlixPartners, London, England</span>
			</div>

		</div>
		<div class="committee-item d-flex">
			<div class="committee-image">
				<a href="#">
					<img src="assets/images/Avatar_4.png" class="icon"
							 alt="avatar_4">
				</a>
			</div>
			<div class="committee-info d-flex flex-column">
				<a href="#" class="committee-name">Ronald Richards</a>
				<span class="committee-desc">Cellnex Telecom, S.A., Barcelona, Spain</span>
			</div>

		</div>
		<div class="committee-item d-flex">
			<div class="committee-image">
				<a href="#">
					<img src="assets/images/Avatar_5.png" class="icon"
							 alt="avatar_5">
				</a>
			</div>
			<div class="committee-info d-flex flex-column">
				<a href="#" class="committee-name">Annette Black</a>
				<span class="committee-desc">CMS Cameron McKenna Nabarro Olswang, London, England; Co-Chair, IBA Diversity & Inclusion Council</span>
			</div>

		</div>
	</div>
</div>
