<div class="personal-info-sections">
	<h6>Firm information</h6>
	<table class="table">
		<tbody>
		<tr>
			<td data-column="name">Firm name</td>
			<td data-column="value" >Pallet Valo LLP</td>
		</tr>
		<tr>
			<td data-column="name">Position</td>
			<td data-column="value">Mr.</td>
		</tr>
		<tr>
			<td data-column="name">Firm Address</td>
			<td data-column="value">77 City Centre Drive, West Tower, Suite 300<br>
				Mississauga, ON L5B 1M5<br>
				Canada</td>
		</tr>
		<tr>
			<td data-column="name">Employees</td>
			<td data-column="value">145
			</td>
		</tr>
		</tbody>
	</table>
</div>
