<div class="personal-info-sections">
	<h6>Invoicing</h6>
	<div class="edit-profile-content">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="label_01">
			<label class="form-check-label" for="label_01">
				Invoice to company
			</label>
		</div>
		<h6>Personal Data</h6>
		<div class="row">
			<div class="col-md-6 col-sm-12 form-column">
				<label for="address_02" class="form-label">Address Line 1*</label>
				<input type="text" class="form-control" id="address_02" placeholder="Address Line 1*">
			</div>
			<div class="col-md-6 col-sm-12 form-column">
				<label for="address_03" class="form-label">Address Line 2*</label>
				<input type="text" class="form-control" id="address_03" placeholder="Address Line 2*">
			</div>
			<div class="col-md-6 col-sm-12 form-column">
				<label for="city_02" class="form-label">City*</label>
				<input type="text" class="form-control" id="city_02" placeholder="City*">
			</div>
			<div class="col-md-6 col-sm-12 form-column">
				<label for="ZIP-code_02" class="form-label">ZIP code*</label>
				<input type="text" class="form-control" id="ZIP-code_02" placeholder="ZIP code*">
			</div>
			<div class="col-md-6 col-sm-12 form-column">
				<label for="state_02" class="form-label">State/Region</label>
				<input type="text" class="form-control" id="state_02" placeholder="State/Region">
			</div>
			<div class="col-md-6 col-sm-12 form-column">
				<label for="country_02" class="form-label">Country</label>
				<input type="text" class="form-control" id="country_02" placeholder="Country">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-12 form-column">
				<label  class="form-label">VAT number</label>
			</div>
			<div class="col-md-7 col-sm-12 form-column">
				<label  class="form-label">No VAT number<br>
					To change your VAT information, please <a href="#">send us an email</a></label>
			</div>
		</div>
		<h6>Firm</h6>
		<div class="row">
			<div class="col-md-12 col-sm-12 form-column">
				<label for="firm-full-name" class="form-label">Firm full name</label>
				<input type="text" class="form-control" id="firm-full-name" placeholder="Firm full name">
			</div>
			<div class="col-md-12 col-sm-12 form-column">
				<label for="info" class="form-label">Invoice specific info</label>
				<textarea class="form-control" id="info"  placeholder="Write here..."></textarea>
			</div>
		</div>
	</div>


</div>
