<div class="personal-info-sections">
	<h6>Personal details</h6>
	<div class="edit-profile-content">
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheck_01">
			<label class="form-check-label" for="flexSwitchCheck_01">
				<div class="check-title">Show my profile on myAIJA</div>
				<p>
					By choosing 'yes', I give affirmative consent for my personal data to appear on the Search Members list and
					agree that it may be used for membership communications as outlined in the AIJA <a href="#">Privacy Policy</a>
				</p>
			</label>
		</div>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheck_02">
			<label class="form-check-label" for="flexSwitchCheck_02">
				<div class="check-title">Send me notification about my chat</div>
				<p>
					By choosing 'yes', I give affirmative consent to receive an email when someone has sent me a chat message (max. 1 email/day).
				</p>
			</label>
		</div>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheck_03">
			<label class="form-check-label" for="flexSwitchCheck_03">
				<div class="check-title">Send me a bi-monthly update on MyAIJA</div>
				<p>
					By choosing 'yes', I give affirmative consent for my personal data to be used and stored for distribution of one email every second week with the main highlights of what is going on here, on MyAIJA.
				</p>
			</label>
		</div>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheck_04">
			<label class="form-check-label" for="flexSwitchCheck_04">
				<div class="check-title">Send me updates about AIJA</div>
				<p>
					By choosing 'yes', I give affirmative consent for my personal data to be used and stored for distribution of AIJA updates (e.g. newsletters, commission updates, speaking opportunities) as defined in the AIJA Privacy Policy
				</p>
			</label>
		</div>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheck_05">
			<label class="form-check-label" for="flexSwitchCheck_05">
				<div class="check-title">AIJA Privacy Policy</div>
				<p>
					I agree to my personal data being stored and used as outlined in the <a href="#">AIJA Privacy Policy</a>
				</p>
			</label>
		</div>
	</div>
</div>
<button class="button btn-red w-100" type="submit" id="save-changes">Save changes</button>
