<div class="personal-info-sections">
	<h6>Contact</h6>
	<table class="table">
		<tbody>
		<tr>
			<td data-column="name">Email</td>
			<td data-column="value" >mdhaliwal@pallettvalo.com</td>
		</tr>
		<tr>
			<td data-column="name">Phone number</td>
			<td data-column="value">90 527 333 00</td>
		</tr>
		<tr>
			<td data-column="name">Website</td>
			<td data-column="value">--</td>
		</tr>
		<tr>
			<td data-column="name">Spoken languages</td>
			<td data-column="value">English<br>
				Punjabi<br>
				Hindi
			</td>
		</tr>
		</tbody>
	</table>
</div>
