<div class="personal-info-sections">
	<h6>Basic Details</h6>
	<div class="edit-profile-content">
		<div class="row">
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="first-name" class="form-label">First name</label>
				<input type="text" class="form-control" id="first-name" placeholder="First name">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="last-name" class="form-label">Last name</label>
				<input type="text" class="form-control" id="last-name" placeholder="Last name">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="user-name" class="form-label">User name</label>
				<input type="text" class="form-control" id="user-name" placeholder="User name">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="gender" class="form-label">Gender</label>
				<input type="text" class="form-control" id="gender" placeholder="Gender">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="date-of-birth" class="form-label">Date of birth</label>
				<input type="text" class="form-control" id="date-of-birth" placeholder="01/01/1985">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="job-title" class="form-label">Job title</label>
				<input type="text" class="form-control" id="job-title" placeholder="Job title">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="phone-number" class="form-label">Phone number</label>
				<input type="text" class="form-control" id="phone-number" placeholder="Phone number">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="fax-number" class="form-label">Fax number</label>
				<input type="text" class="form-control" id="fax-number" placeholder="Fax number">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="website" class="form-label">Website</label>
				<input type="text" class="form-control" id="website" placeholder="Website">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="main-language" class="form-label">Main Language</label>
				<select id="main-language" class="form-select" aria-label="Main Language">
					<option selected>Main Language</option>
					<option lang="de" value="deutsch">Deutsch</option>
					<option lang="en" value="english">English</option>
					<option lang="fr" value="francais">Français</option>
					<option lang="it" value="italiano">Italiano</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 mb-3">
				<select class="selectpicker" multiple aria-label="Default select example" data-live-search="true">
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
					<option value="4">Four</option>
				</select>
			</div>
		</div>
		<h6>Change password</h6>
		<div class="row">
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="current-pass" class="form-label">Current password</label>
				<input type="text" class="form-control" id="current-pass" placeholder="Current password">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="new-password" class="form-label">New password</label>
				<input type="text" class="form-control" id="new-password" placeholder="New password">
			</div>
			<div class="col-md-6 col-sm-12 mb-3">
				<label for="conf-new-password" class="form-label">Confirm new password</label>
				<input type="text" class="form-control" id="conf-new-password" placeholder="Confirm new password">
			</div>
		</div>
	</div>
</div>
