<div class="card member-big-card">

  <div class="image-wrapper">
    <img src="assets/images/Avatar_1.png" alt="Member 01" />
  </div>

  <div class="card-body">

    <div class="card-body-content">
      <h5 class="card-title">Marvin McKinney</h5>
      <h6 class="card-sub-title">National Representative</h6>
      <div class="card-text">
        <p>Av. COrdoba 487, 6th floor, <br>Buenos Aires</p>
      </div>
      <a href="mailto:test@gmail.com" class="card-btn-more">
        Send email
        <span class="icon">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
            <path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        </span>
      </a>
    </div>

    <div class="card-body-side">
      <div class="flag-wrapper">
        <img class="flag-image" src="assets/images/flags/argentina.svg" alt="Flag 01" />
        <span class="flag-label">Argentina</span>
      </div>
    </div>
    
  </div>

</div>