.profile-button {
  max-width: max-content;
  outline: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid $gray04;
  border-radius: 5px;
  padding: 8px 16px;
  min-height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  font-family: $clarica;
  color: $textColor;
  text-decoration: none;
  transition: all .3s;
  .icon {
    width: auto;
    height: 15px;
    max-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    svg, img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }
  &:hover,
  &:focus {
    background: $gray05;
    color: $textColor;
  }
  + .profile-button {
    margin-left: 16px;
  }
}

.aija-button {
  background: $aija-red;
  border: 1px solid $aija-red;
  color: $white;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  min-height: 41px;
  font-family: $clarica;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  svg,
  img {
    display: block;
    margin-right: 8px;
    fill: #fff;
    max-width: 24px;
  }
  &:hover,
  &:focus {
    color: $aija-red;
    background: transparent;
    svg,
    img {
      fill: $aija-red;
    }
  }
  &--transparent {
    border-color: transparent;
    background: transparent;
    color: $textColor;
    svg {
      fill: $textColor;
    }
    &:hover,
    &:focus {
      color: $aija-red;
      svg {
        fill: $aija-red;
      }
    }
  }
  &--bordered {
    border-color: $gray04;
    background: transparent;
    color: $textColor;
    font-weight: 600;
    svg {
      fill: $textColor;
    }

    &:hover,
    &:focus {
      color: $aija-red;

      svg {
        fill: $aija-red;
      }
    }
  }
}