.chat-main {
  &__form {
    background: #FFFFFF;
    border: 1px solid $chat-border-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 24px 30px;
    width: 100%;
    max-width: calc(100% - 60px);
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 1160px) {
      padding: 14px;
      max-width: calc(100% - 28px);
      margin-bottom: 14px;
    }
    @media screen and (max-width: 380px) {
      padding: 8px;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 0;
      border: none;
      border-top: 1px solid $chat-border-color;
      max-width: 100%;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  &__form-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    @media screen and (max-width: 920px) {
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: flex-start;
    }
    .chat-form-msg-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
      cursor: pointer;
      + .chat-form-msg-btn {
        margin-left: 16px;
      }
      .icon {
        transition: all .3s;
      }

      &.active,
      &:hover,
      &:focus {
        .icon-image {
          fill: $aija-red;
        }
        .icon-attach {
          stroke: $aija-red;
        }
        .icon-emoji {
          opacity: .5;
        }
      }
    }
  }
  &__form-actions {
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    display: none;
    @media screen and (max-width: 920px) {
      display: flex;
      margin-right: 14px;
    }
    @media screen and (max-width: 380px) {
      margin-right: 0;
      margin-top: 2px;
    }
    .btn {
      min-width: 24px;
      max-width: 24px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      box-shadow: none;
      border: none;
      &:not(.btn-primary) {
        padding: 0;
      }
      svg, img {
        min-width: inherit;
        width: inherit;
        height: inherit;
        display: block;
      }
      + .btn {
        margin-left: 16px;
      }
      .icon {
        transition: all .3s;
      }
      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    .more-toggle {
      transform: rotate(180deg);
      display: none;
      @media screen and (max-width: 920px) {
        display: block;
      }
      @media screen and (max-width: 380px) {
        margin-bottom: -5px;
      }
      &.collapsed {
        transform: rotate(0deg);
      }
    }
  }
  .form-actions-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    &.collapse {
      display: flex;
      @media screen and (max-width: 920px) {
        display: none;
        margin-right: 0;
        margin-top: 8px;
      }
    }
    &.show {
      display: flex;
    }
  }
  &__form-message {
    flex: 1;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    input,
    textarea {
      width: 100%;
      outline: none;
      background: transparent;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      background-origin: padding-box;
      z-index: 3;
      font-family: $inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #D9DEE2;
      border-radius: 7px;
      position: relative;
      padding: 5px 46px;
      color: $textColor;
      min-height: 40px;
      height: 40px;
      overflow: hidden;
      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #D9DEE2;
        overflow: hidden;
      }
      &::placeholder {
        color: $aija-gray600;
      }
    }
    textarea {
      max-height: 80px;
      overflow-x: hidden;
     // resize: none;
      resize: auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
        border-radius: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background: $gray04;
      }
    }
    .chat-form-msg-btn {
      position: absolute;
      z-index: 4;
    }
    .emoji-btn {
      left: 14px;
      width: 24px;
      height: 24px;
      svg {
        display: block;
        width: inherit;
        height: inherit;
      }
    }
    .send-btn {
      right: 14px;
      width: 24px;
      height: 24px;
      &:hover,
      &:focus {
        .icon-send {
          opacity: .5;
        }
      }
    }
  }
}