<div class="cards-item lesson-item">
  <div class="cards-item__header">
    <div class="feature">
      <img src="assets/images/lesson-01.jpg" alt="Lesson 01">
    </div>
  </div>
  <div class="cards-item__context">
    <div class="context-header">
      <time>APRIL 13, 2022</time>
      <h5>Why do we need more diverse and inclusive law firms? Where’s the bargain?</h5>
    </div>
    <div class="context-body">
      <p>DEI (diversity, equity, inclusion) in law firms is a much-discussed topic nowadays. Nonetheless, the more is said, the less is understood as to how it...</p>
    </div>
    <div class="context-actions">
      <a href="admin-eLearning-single.html" class="card-button profile-button">View details</a>
      <a href="admin-eLearning-single.html" class="card-button btn-primary">Watch video</a>
    </div>
  </div>
</div>