<div class="context-section aija-history">
	<div class="container">
		<h2 class="section-title">AIJA History</h2>

		<div class="history-items">

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>1962</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">Established</div>
							<div class="history-content">Once upon a time in May 1962, a group of young lawyers from different
								European
								countries were having a nice dinner during a FNUJA1 annual Congress in Toulouse, a beautiful and
								welcoming
								South-western French city. They had been...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>1987</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">AIJA 25 Years</div>
							<div class="history-content">But I must explain to you how all this mistaken idea of denouncing pleasure
								and praising pain was born and I will give you a complete account of the system, and expound the actual
								teachings of the great explorer...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>1992</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">Aija 30 years</div>
							<div class="history-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>2000</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">Special 2000</div>
							<div class="history-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>2002</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">AIJA 40 years</div>
							<div class="history-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="history-item">
				<div class="d-flex flex-wrap section-content w-100">
					<div class="col-md-6 history-date">
						<span>2012</span>
					</div>
					<div class="col-md-6 history-desc">
						<div class="history-text">
							<div class="history-title">AIJA 50 Years</div>
							<div class="history-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system...
							</div>
							<a href="#" class="section-more-link" onclick="return false">
								Continue reading
								<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667"
											stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
