<div class="context-section aija-by-numbers-section">
	<div class="container">
		<h2 class="section-title">AIJA by Numbers</h2>

		<div class="row section-content">

			<div class="col-12">
				<div class="number-widget">
					<h5><span class="number">4000</span></h5>
					<p class="description">Members and <br> supporters</p>
				</div>
		
				<div class="number-widget">
					<h5><span class="number">90</span></h5>
					<p class="description">Present in more <br> than 90 countries</p>
				</div>
			
				<div class="number-widget">
					<h5><span class="number">700</span></h5>
					<p class="description">Law firms of <br> all sizes</p>
				</div>
		
				<div class="number-widget">
					<h5><span class="number">65%</span></h5>
					<p class="description">Of members in leadership<br> positions in their law firms</p>
				</div>
		
				<div class="number-widget">
					<h5><span class="number">50</span></h5>
					<p class="description">50 collective bar<br> association members</p>
				</div>
			
				<div class="number-widget">
					<h5><span class="number">21</span></h5>
					<p class="description">Scientific<br> commissions</p>
				</div>
		
				<div class="number-widget">
					<h5><span class="number">20+</span></h5>
					<p class="description">Events</p>
				</div>
			</div>
		
		</div>

	</div>

</div>
