<div class="context-section aija-by-numbers-section">
	<div class="container">
		<h2 class="section-title">AIJA by Numbers</h2>

		<div class="row section-content row-cols-1 row-cols-sm-2 row-cols-md-4">
			<div class="col">
				<div class="number-widget">
					<h5>
						<span class="number">89</span> <span class="sub-text">Specialized</span>
					</h5>
					<p class="description">commissions in various legal fields</p>
				</div>

			</div>
			<div class="col">
				<div class="number-widget">
					<h5>
						<span class="number">42</span> <span class="sub-text">Years</span>
					</h5>
					<p class="description">in the service of lawyers and the legal profession</p>
				</div>
			</div>
			<div class="col">
				<div class="number-widget">
					<h5>
						<span class="number">112</span> <span class="sub-text">Countries</span>
					</h5>
					<p class="description">represented among our members</p>
				</div>
			</div>
			<div class="col">
				<div class="number-widget">
					<h5>
						<span class="number">24</span> <span class="sub-text">Lorem</span>
					</h5>
					<p class="description">ipsum dolor sit ametconsectetur adipiscing</p>
				</div>
			</div>
		</div>

	</div>

</div>
