<div class="context-section annual-sponsorship">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Here’s why you should partner with us:</h2>
			</div>
			<div class="col-12">
				<div class="row row-cols-1 row-cols-md-2">
					<div class="col">
						@@include('../parts/cards/_simple-cards-01.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-02.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-03.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-04.html')
					</div>
				</div>
			</div>
			<div class="col-12">
				<a href="contact-us.html" class="section-more-link fill">
					Contact us
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h3 class="section-title no-border">Our Annual Sponsors</h2>
			</div>
			<div class="col-12">
				<img class="flag-image" src="assets/images/annual-sponsors.png" alt="Our Annual Sponsors" />
			</div>
		</div>
	</div>
</div>
