<div class="context-section annual-membership-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Annual membership fee</h2>
			</div>
			<div class="col-12">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
					<div class="col">
						@@include('../parts/annual-fee/_annual-fee-01.html')
					</div>
					<div class="col">
						@@include('../parts/annual-fee/_annual-fee-02.html')
					</div>
					<div class="col">
						@@include('../parts/annual-fee/_annual-fee-03.html')
					</div>
					<div class="col">
						@@include('../parts/annual-fee/_annual-fee-04.html')
					</div>
				</div>
			</div>
		</div>
		<div class="row notes-row">
			<div class="col-12">
				<h4 class="notes-title">Note: Membership is valid for a civil year (January/December)</h3>
				<div class="notes-content">
					<p><em>If, as a new member, you sign up for membership as of 1 November, your AIJA membership is extended for a period of 14 months, <br> which includes the last two months of the current year and the following year. <strong>Join early, enjoy your member benefits longer.</strong></em></p>
				</div>
			</div>
		</div>
	</div>
</div>
