<div class="context-section as-member-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">As member you can:</h2>
			</div>
			<div class="col-12">
				<div class="row row-cols-1 row-cols-md-2">
					<div class="col">
						@@include('../parts/cards/_simple-cards-09.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-10.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-11.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-12.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-13.html')
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
