<div class="context-section awards-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<img class="logo" src="assets/images/logo-white.svg" alt="Aija Logo">
				<p class="disclaimer">BEST INTERNATIONAL</p>
				<h2>Future Lawyer Award 2022</h2>
				<h3>Reuniting & Embracing the Change</h3>
		    <p>We are thrilled to invite law students and recent law graduates to participate in AIJA’s 2022 Best International Future Lawyer Award competition!</p>
		    <p>Please send your submission to AIJA through the Google Forms by 15 May 2022 before midnight CET.</p>
			</div>
		</div>

	</div>
</div>
