<div class="context-section become-a-sponsor">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Choose the membership that is best for you</h2>
			</div>
			<div class="col-12">
				<div class="row row-cols-1 row-cols-md-2">
					<div class="col">
						@@include('../parts/cards/_simple-cards-05.html')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-06.html'')
					</div>
					<div class="col">
						@@include('../parts/cards/_simple-cards-07.html')
					</div>
          <div class="col">
						@@include('../parts/cards/_simple-cards-08.html')
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
