<div class="context-section contacts-section commissions-contacts-section">
	<div class="row section-content">

		<div class="col-12">
			<h2 class="section-title">Contacts</h2>
		</div>
		
		<div class="col-12">
			<div class="row contacts-results row-cols-1 row-cols-sm-2 row-cols-md-4">
				<div class="col">
					@@include('../parts/contacts/_contact-item-01.html')
				</div>
	
				<div class="col">
					@@include('../parts/contacts/_contact-item-02.html')
				</div>
	
				<div class="col">
					@@include('../parts/contacts/_contact-item-03.html')
				</div>
			</div>
		</div>
	
	</div>
</div>
