<form>
	<div class="form-row row">
		<div class="form-group col-md-6">
			<label for="inputName">Name and Surname</label>
			<input type="text" class="form-control" id="inputName" placeholder="Enter your full name">
		</div>
		<div class="form-group col-md-6">
			<label for="inputEmail">Email</label>
			<input type="email" class="form-control" id="inputEmail" placeholder="Enter your e-mail">
		</div>
	</div>
	<div class="form-row row">
		<div class="form-group col-md-6">
			<label for="inputCompany">Company name</label>
			<input type="text" class="form-control" id="inputCompany" placeholder="Enter your full name">
		</div>
		<div class="form-group col-md-6">
			<label for="inputAddress">Location</label>
			<input type="text" class="form-control" id="inputAddress" placeholder="Add location">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="inputWebsite">Comapny website</label>
			<textarea class="form-control" id="inputWebsite" placeholder="Comapny website"></textarea>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Send</button>
</form>
