
<div class="context-section events-filter">
	<div class="container">
		<div class="filter-toggle">Filters</div>
		<form class="form-events-filter" action="">

			<div class="form-group commissions">
				<label for="commissions" class="form-label">Commissions</label>
				<select id="commissions" class="form-select selectpicker" aria-label="Default select example">
					<option selected>All</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group event-type">
				<label for="event-type" class="form-label">Type of Event</label>
				<select id="event-type" class="form-select" aria-label="AIJA Events">
					<option selected>AIJA Events</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group location">
				<label for="location" class="form-label">Location</label>
				<select id="location" class="form-select selectpicker" aria-label="Location">
					<option selected>Select location</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group date">
				<label for="event-date" class="form-label">Date</label>
				<input type="text"  id="event-date" name="dates" placeholder="Select Date Range" class="form-control" />
			</div>
			<div class="form-group reset">
				<a href="#">Reset filters</a>
			</div>
		</form>

		<div class="events">
			<h6 class="count-results">
				8 results
			</h6>
			<div class="row event-results row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col">
					@@include('../parts/events/_event-item-01.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-02.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-03.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-04.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-05.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-01.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-02.html')
				</div>

				<div class="col">
					@@include('../parts/events/_event-item-03.html')
				</div>

			</div>
		</div>
	</div>
</div>
