
<div class="context-section events-filter">
	<div class="container">
		<div class="filter-toggle">Filters</div>
		<form class="form-events-filter" action="">

			<div class="form-group commissions">
				<label for="commissions" class="form-label">Commissions</label>
				<select id="commissions" class="form-select selectpicker" aria-label="Default select example">
					<option selected>All</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group event-type">
				<label for="event-type" class="form-label">Type of Event</label>
				<select id="event-type" class="form-select" aria-label="AIJA Events">
					<option selected>AIJA Events</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group location">
				<label for="location" class="form-label">Location</label>
				<select id="location" class="form-select selectpicker" aria-label="Location">
					<option selected>Select location</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group date">
				<label for="event-date" class="form-label">Date</label>
				<input type="text"  id="event-date" name="dates" placeholder="Select Date Range" class="form-control" />
			</div>
			<div class="form-group reset">
				<a href="#">Reset filters</a>
			</div>
		</form>

		<div class="events">
			<h6 class="count-results">
				8 results
			</h6>
			<div class="row event-results row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Online</span>
							<img src="assets/images/event1.png" alt="Event 1">
						</div>
						<div class="event-item-info">
							<div class="event-date">10 April 2022 - <span>30 min</span></div>
							<h6 class="event-name"><a href="event-overview.html">Transparency and Individuals' Privacy: a matter of human rights?</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Miami</span>
							<img src="assets/images/event2.png" alt="Event 2">
						</div>
						<div class="event-item-info">
							<div class="event-date">20-23 April 2022</div>
							<h6 class="event-name"> <a href="event-overview.html"> AIJA Americas Meeting</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Gothenburg</span>
							<img src="assets/images/event3.png" alt="Event 3">
						</div>
						<div class="event-item-info">
							<div class="event-date">20-23 April 2022</div>
							<h6 class="event-name"><a href="event-overview.html">Half-Year May Conference</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Antitrust</span>
								<span>Banking, Finance and Capital Markets</span>
								<span>Corporate and M&A</span>
								<span>Labour Law</span>
								<span>+3</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Naples</span>
							<img src="assets/images/event4.png" alt="Event 4">
						</div>
						<div class="event-item-info">
							<div class="event-date">25-26 April 2022</div>
							<h6 class="event-name"><a href="event-overview.html">Building new opportunities: Restructuring the future with real estate</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Insolvency</span>
								<span>Real Estate</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Washington DC</span>
							<img src="assets/images/event5.png" alt="Event 5">
						</div>
						<div class="event-item-info">
							<div class="event-date">02-04 May 2022</div>
							<h6 class="event-name"><a href="event-overview.html">AIJA Breakfast at the Annual Meeting of the International Trademark
								Association</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Labour Law</span>
								<span>Litigation</span>
								<span>SCILL</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Online</span>
							<img src="assets/images/event1.png" alt="Event 1">
						</div>
						<div class="event-item-info">
							<div class="event-date">10 April 2022 - <span>30 min</span></div>
							<h6 class="event-name"><a href="event-overview.html">Transparency and Individuals' Privacy: a matter of human rights?</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Miami</span>
							<img src="assets/images/event2.png" alt="Event 2">
						</div>
						<div class="event-item-info">
							<div class="event-date">20-23 April 2022</div>
							<h6 class="event-name"><a href="event-overview.html">AIJA Americas Meeting</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Gothenburg</span>
							<img src="assets/images/event3.png" alt="Event 3">
						</div>
						<div class="event-item-info">
							<div class="event-date">20-23 April 2022</div>
							<h6 class="event-name"><a href="event-overview.html">Half-Year May Conference</a></h6>
							<div class="event-tag d-flex align-items-center flex-wrap">
								<span>Antitrust</span>
								<span>Banking, Finance and Capital Markets</span>
								<span>Corporate and M&A</span>
								<span>Labour Law</span>
								<span>+3</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
