<div class="context-section events-filter">
	<div class="container">
		<form class="filter">
		</form>
		<div class="events">
			<h6 class="count-results">
				8 results
			</h6>
			<div class="row event-results row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Online</span>
							<img src="assets/images/event1.png" alt="Event 1">
						</div>
						<div class="event-item-info">
							<div class="event-date">10 April 2022 - 30 min</div>
							<div class="event-name">Transparency and Individuals' Privacy: a matter of human rights?</div>
							<div class="event-tag">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="event-item">
						<div class="event-item-image">
							<span class="event-location">Online</span>
							<img src="assets/images/event4.png" alt="Event 4">
						</div>
						<div class="event-item-info">
							<div class="event-date">10 April 2022 - 30 min</div>
							<div class="event-name">Transparency and Individuals' Privacy: a matter of human rights?</div>
							<div class="event-tag">
								<span>Intellectual Property, Technology, Media, and...</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
