<div class="context-section events-for-commissions">
	<div class="row section-content">

		<div class="col-12">
			<h2 class="section-title">Events for this Commission</h2>
		</div>
		
		<div class="col-12">
			<div class="row event-results row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col">
					@@include('../parts/events/_event-item-02-no-btn.html')
				</div>
	
				<div class="col">
					@@include('../parts/events/_event-item-03-no-btn.html')
				</div>
	
				<div class="col">
					@@include('../parts/events/_event-item-04-no-btn.html')
				</div>
			</div>
		</div>
	
	</div>
</div>
