<div class="context-section event-single-header"
		 style="background-image: url('assets/images/event-single-header.png')">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h3 class="page-title text-white">
					AIJA Breakfast at the Annual Meeting of the International Trademark Association
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 d-flex event-info">
				<ul class="event-desc">
					<li class="event-date d-flex align-items-center">02 May 2022 03:30 - 05:30 CEST</li>
					<li class="event-location d-flex align-items-center">Washington DC, USA</li>
				</ul>
				<div class="dropdown to-calendar">
					<button class="btn button btn-gray add-to-calendar dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						Add to calendar
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" href="#"><img src="assets/images/icons/Google-calendar.svg" class="icon" alt="Google-calendar">Google Calendar</a></li>
						<li><a class="dropdown-item" href="#"><img src="assets/images/icons/outlool-calendar.svg" class="icon" alt="Outlook/iCal Calendar">Outlook/iCal Calendar</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 d-flex align-items-end register-head">
				<a class="button btn-red" href="#">Register now</a>
			</div>
		</div>
	</div>
</div>
