<div class="context-section event-single-header"
		 style="background-image: url('assets/images/event-single-header.png')">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h3 class="page-title text-white">
					AIJA Breakfast at the Annual Meeting of the International Trademark Association
				</h3>
				<ul class="event-info">
					<li class="event-date d-flex align-items-center">02 May 2022 03:30 - 05:30 CEST</li>
					<li class="event-location d-flex align-items-center">Washington DC, USA</li>
				</ul>

			</div>
			<div class="col-md-6 col-sm-12">
				<a class="button" href="#">Register now</a>
			</div>
		</div>
	</div>
</div>
