<div class="context-section latest-linkedin-posts pt-5 pb-5">
	<div class="container">
		<div class="section-content">
			<h2 class="section-title">Latest LinkedIn posts</h2>
		</div>

		<div class="row section-content row-cols-1 row-cols-sm-2 row-cols-md-4">
			<div class="col">
				<div class="in-widget-item">
					<div class="in-widget-item-title d-flex align-items-center">
						<div class="item-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/aija-in-logo.svg" alt="Aija In Logo">
						</div>
						<div class="item-title d-flex align-items-center">AIJA - International Association of Young...</div>
						<div class="in-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/linkedIn-logo.svg" alt="LinkedIn Logo">
						</div>
					</div>
					<div class="in-widget-item-img d-block overflow-hidden">
						<img src="assets/images/linkedin-post-image.png" alt="LinkedIn Logo">
					</div>
					<div class="in-widget-item-desc">
						<p>
							Join the on 'Not only for profit: The use of blockchain by the World Food
							Programme - practical observations...
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="in-widget-item">
					<div class="in-widget-item-title d-flex align-items-center">
						<div class="item-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/aija-in-logo.svg" alt="Aija In Logo">
						</div>
						<div class="item-title d-flex align-items-center">AIJA - International Association of Young...</div>
						<div class="in-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/linkedIn-logo.svg" alt="LinkedIn Logo">
						</div>
					</div>
					<div class="in-widget-item-img d-block overflow-hidden">
						<img src="assets/images/linkedin-post-image.png" alt="LinkedIn Logo">
					</div>
					<div class="in-widget-item-desc">
						<p>
							Join the on 'Not only for profit: The use of blockchain by the World Food
							Programme - practical observations...
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="in-widget-item">
					<div class="in-widget-item-title d-flex align-items-center">
						<div class="item-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/aija-in-logo.svg" alt="Aija In Logo">
						</div>
						<div class="item-title d-flex align-items-center">AIJA - International Association of Young...</div>
						<div class="in-logo d-flex align-items-center justify-content-center">
							<img src="assets/images/linkedIn-logo.svg" alt="LinkedIn Logo">
						</div>
					</div>
					<div class="in-widget-item-img d-block overflow-hidden">
						<img src="assets/images/linkedin-post-image.png" alt="LinkedIn Logo">
					</div>
					<div class="in-widget-item-desc">
						<p>
							Join the on 'Not only for profit: The use of blockchain by the World Food
							Programme - practical observations...
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
