<div class="context-section members-amount-section">
	<div class="container">
		<div class="row section-content row-cols-1 row-cols-md-3">
			<div class="col">
				<div class="amount-preview big">
					<div class="number">4,000+</div>
					<div class="description">Members and supporters</div>
					<div class="image">
						<img src="assets/images/members.png" alt="Members and supporters" />
					</div>
				</div>
			</div>
			<div class="col">
				<div class="amount-preview">
					<div class="number">90</div>
					<div class="description">present in more than 90 countries</div>
				</div>
				<div class="amount-preview">
					<div class="number">700+</div>
					<div class="description">law firms of all sizes</div>
				</div>
				<div class="amount-preview">
					<div class="number">65%</div>
					<div class="description">of members in leadership positions in their law firms</div>
				</div>
			</div>
			<div class="col">
				<div class="amount-preview">
					<div class="number">50</div>
					<div class="description">collective bar association members</div>
				</div>
				<div class="amount-preview">
					<div class="number">21</div>
					<div class="description">scientific commissions</div>
				</div>
				<div class="amount-preview">
					<div class="number">20+</div>
					<div class="description">events</div>
				</div>
			</div>
		</div>
	</div>
</div>
