<div class="context-section news-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Latest News</h2>
			</div>
			<div class="col-12">
				<div class="row news-results row-cols-1 row-cols-sm-2 row-cols-md-3">
					<div class="col">
						@@include('../parts/news/_news-item-01.html')
					</div>
		
					<div class="col">
						@@include('../parts/news/_news-item-02.html')
					</div>
		
					<div class="col">
						@@include('../parts/news/_news-item-03.html')
					</div>
				</div>
			</div>
			<div class="col-12">
				<a href="#" class="section-more-link" onclick="return false">
					Read all News
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
