<div class="context-section contacts-section aija-team-items">
	<div class="row section-content">
		<div class="col-12 mb-2">
		<h4>Other team members</h4>
		</div>
		<div class="col-12">
			<div class="row contacts-results row-cols-1 row-cols-sm-2 row-cols-md-4">
				<div class="col">
					@@include('../parts/team/items/_team-item-01.html')
				</div>
				<div class="col">
					@@include('../parts/team/items/_team-item-02.html')
				</div>
				<div class="col">
					@@include('../parts/team/items/_team-item-03.html')
				</div>
				<div class="col">
					@@include('../parts/team/items/_team-item-04.html')
				</div>
			</div>
		</div>

	</div>
</div>
