<div class="context-section podcast-media-section d-flex d-md-none">
	<div class="container">
		<div class="row section-content">
			<div class="col-md-6 col-sm-12 podcast-preview-col">

				<div class="podcasts-lists">
					<h3 class="list-title">LATEST PODCASTS</h3>

					@@include('../parts/podcasts/_podcast-item-01.html')
					@@include('../parts/podcasts/_podcast-item-02.html')
					@@include('../parts/podcasts/_podcast-item-03.html')
					
				</div>


				<a href="podcast.html" class="section-more-link">
					Explore now
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
				</a>
			</div>	
			<div class="col-md-6 col-sm-12">
				<div class="podcast-content">
					<h2 class="section-title">SpotlightAIJA Podcast Media</h2>
					<div class="section-text">
						<p>The podcast offers practical tips to help young lawyers and more seasoned professionals improve their business and professional lives. In each season we talk to lawyers and other sector experts with valuable insights into the legal profession.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
