<div class="team-member-section">
	<div class="row">
		<div class="col-sm-12 col-md-3">
			<div class="single-image">
				<img src="assets/images/single-member.png" alt="Wade Warren">
			</div>

		</div>
		<div class="col-sm-12 col-md-7">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
				<div class="col">
					<div class="member-name">Wade Warren</div>
					<div class="member-position">Co-Chair</div>
					<div class="member-department"> Legal Tech Board</div>
				</div>
				<div class="col member-social">
					<a href="" class="contact-item__more btn-gray">
						LinkedIn
						<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.7857 1.125H1.21049C0.542634 1.125 0 1.63477 0 2.26055V15.7395C0 16.3652 0.542634 16.875 1.21049 16.875H15.7857C16.4536 16.875 17 16.3652 17 15.7395V2.26055C17 1.63477 16.4536 1.125 15.7857 1.125ZM5.13795 14.625H2.6183V7.10859H5.14174V14.625H5.13795ZM3.87812 6.08203C3.06987 6.08203 2.41719 5.47383 2.41719 4.72852C2.41719 3.9832 3.06987 3.375 3.87812 3.375C4.68259 3.375 5.33906 3.9832 5.33906 4.72852C5.33906 5.47734 4.68638 6.08203 3.87812 6.08203ZM14.5828 14.625H12.0632V10.9688C12.0632 10.0969 12.0442 8.97539 10.754 8.97539C9.44107 8.97539 9.23996 9.92461 9.23996 10.9055V14.625H6.72031V7.10859H9.1375V8.13516H9.17165C9.50937 7.54453 10.3328 6.92227 11.5585 6.92227C14.1085 6.92227 14.5828 8.47969 14.5828 10.5047V14.625Z"
								fill="#17233D"/>
						</svg>
					</a>
					<a href="" class="contact-item__more">
						Send mail
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M0 4.5C0 3.25723 1.00723 2.25 2.25 2.25H15.75C16.991 2.25 18 3.25723 18 4.5V13.5C18 14.741 16.991 15.75 15.75 15.75H2.25C1.00723 15.75 0 14.741 0 13.5V4.5ZM1.6875 4.5V5.27695L7.75195 10.2551C8.47617 10.8527 9.52383 10.8527 10.248 10.2551L16.3125 5.27695V4.46836C16.3125 4.19062 16.0594 3.90586 15.75 3.90586H2.25C1.93922 3.90586 1.6875 4.19062 1.6875 4.46836V4.5ZM1.6875 7.46016V13.5C1.6875 13.8094 1.93922 14.0625 2.25 14.0625H15.75C16.0594 14.0625 16.3125 13.8094 16.3125 13.5V7.46016L11.3203 11.5594C9.97031 12.6668 8.02969 12.6668 6.64805 11.5594L1.6875 7.46016Z"
								fill="white"/>
						</svg>
					</a>
				</div>
			</div>
			<div class="row member-description">
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					and I
					will give you a complete account of the system, and expound the actual teachings of the great explorer of
					the truth, the master-builder of human happiness.</p>

				<p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
					know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
					there
					anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
					occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>

				<p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some
					advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
					no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>

				<p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
					know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
					there
					anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
					occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>

				<p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some
					advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
					no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
			</div>
		</div>

	</div>
</div>
