<div class="context-section sponsorship-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Online Advertising</h2>
			</div>
			<div class="col-12">
				<p>You can advertise to our members through our virtual events, newsletter, social media, website, or through the MyAIJA member-only platform.</p>

        <p>Recently, AIJA has invested in its remote offering, with virtual networking and e-learning opportunities providing alternatives for our members to meet, share, network and benefit from high-quality academic content. E-learning is presented in the form of webinars or virtual seminars and conferences. Virtual seminars are AIJA Commission-driven events attracting a concentrated audience of experts in one or two areas of practice. Held during two or more days, virtual seminars include both social and academic content. They average 100 attendees during each live session. Recordings of the sessions are available for our members to watch at their convenience after the virtual seminar, with unlimited access to them in the member intranet area.</p>
			</div>
			<div class="col-12">
				<a href="contact-us.html" class="section-more-link">
					Contact us
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
