<div class="context-section sponsorship-section">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">Focus: Legal Tech</h2>
			</div>
			<div class="col-12">
				<p>We’re always on the lookout for innovative and effective legal tech solutions to support the work of our members. If you are a legal tech organisation, you can showcase your solutions during our 20 events throughout the year. Easily accessible, our exhibition spaces offer the opportunity to make direct contact with professionals looking for the latest legal tech products.</p>
			</div>
			<div class="col-12">
				<a href="contact-us.html" class="section-more-link">
					Contact us
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
