<div class="context-section subscribe-to-aija">
	<div class="container">
		<div class="section-content pt-5 pb-5">
			<div class="wrapper">
				<div class="subscribe-form d-flex flex-wrap  align-items-center justify-content-between">
					<div class="subscribe-info">
						<h5>Subscribe to AIJA updates</h5>
						<p>The latest events, news, articles, and resources, sent straight to your inbox </p>
					</div>
					<form id="subscribe" novalidate="true">
						<input class="email" name="EMAIL" id="subscribe-email" placeholder="Enter your email" spellcheck="false" type="email">
						<button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fa fa-rss"></i>
							Subscribe
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
