<div class="context-section testimonials-section tb-no-margin">
	<div class="container">
		<div class="row section-content">
			<div class="col-12">
				<h2 class="section-title">What our sponsors said about us?</h2>
			</div>
			<div class="col-12">
				<!--  Slider  -->
				<div id="carouselExampleIndicators" class="carousel slide testimonials-slider" data-bs-ride="carousel">

					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>

					<div class="carousel-inner">
						<div class="carousel-item active">
							@@include('../parts/testimonials/_testimonial-item-01.html')
						</div>
						<div class="carousel-item">
							@@include('../parts/testimonials/_testimonial-item-02.html')
						</div>
						<div class="carousel-item">
							@@include('../parts/testimonials/_testimonial-item-03.html')
						</div>
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>

				</div>

			</div>
		</div>
	</div>
</div>
