<div class="contact-item">
  <div class="contact-item-image">
    <span class="overlay">
      <a href="mailto:test@gmail.com" class="contact-item__more">
        Send email
        <span class="icon">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" stroke="#637381" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6647 7.74487L11.7768 10.9063C11.0422 11.489 10.0088 11.489 9.2742 10.9063L5.35352 7.74487" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7953 18.375C17.4564 18.3823 19.25 16.1959 19.25 13.5086V7.49876C19.25 4.81147 17.4564 2.625 14.7953 2.625H6.20474C3.54356 2.625 1.75 4.81147 1.75 7.49876V13.5086C1.75 16.1959 3.54356 18.3823 6.20474 18.375H14.7953Z" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
      </a>
    </span>
    <div class="contact-item-image-wrapper">
      <img src="assets/images/contact-03.jpg" alt="Karen Ruback">
    </div>
  </div>
  <div class="contact-item-info">
    <div class="contact-item__content">
      <h5 class="contact-name">Karen Ruback</h5>
      <div class="contact-position">Vice-president</div>
      <div class="contact-descriptoin">
        <h6 class="contact-descriptoin__title">
          Grinberg Cordovil Advogados
        </h6>
        <address class="contact-descriptoin__content">
          Al. Santos, 787, 8º andar, Brasil, Brasil 01419001 Sao Paulo
        </address>
      </div>
    </div>
    
  </div>
</div>