.event-page{

  .content{
    max-width: 652px;
    ul {
      padding-left: 13px;

      li {
        line-height: 20.8px;
        font-size: 14px;
        font-family: $mulish;
        list-style: none;
        display: flex;
        letter-spacing: .22px;
        margin-bottom: 20px;

        &:before {
          content: "";
          display: inline-block;
          position: relative;
          font-size: 120px;
          top: 8px;
          margin-right: 10px;
          line-height: 20.8px;
          min-width: 3px;
          height: 3px;
          background: $textColor;
          border-radius: 50%;
        }
      }
    }
    p{
      line-height: 20.8px;
      font-size: 14px;
      font-family: $mulish;
      padding-bottom: 5px;
      letter-spacing: .18px;
    }
    strong{
      font-size: 16px;
      font-family: $mulish;
      line-height: 20.8px;
      font-weight: 700;
      letter-spacing: .18px;
    }
    h5{
      margin-bottom: 22px;
      margin-top: 3px;
    }
  }
  .separate{
    max-width: 652px;
    border-top: 1px solid $gray04;
    border-bottom: 1px solid $gray04;
    margin: 74px 0 175px;
    padding: 39px 0 34px;

    strong{
      font-size: 16px;
    }
    ul {
      margin-top: 20px;
      padding-left: 13px;

      li {
        line-height: 20.8px;
        font-size: 14px;
        font-family: $mulish;
        list-style: none;
        display: flex;
        letter-spacing: .22px;
        margin-bottom: 2px;

        &:before {
          content: "";
          display: inline-block;
          position: relative;
          font-size: 120px;
          top: 8px;
          margin-right: 10px;
          line-height: 20.8px;
          min-width: 3px;
          height: 3px;
          background: $textColor;
          border-radius: 50%;
        }
      }
    }
  }
}

.event-single-header {
  background-size: cover;
  padding-top: 53px;
  padding-bottom: 45px;

  .page-title {
    padding-right: 10px;

    &:after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background: $aija-red;
      margin-top: 10px;
    }
  }

  .event-info {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;

    li {
      font-family: $mulish;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $white;
      margin-bottom: 12px;

      &.event-date {
        &:before {
          content: '';
          background: url('../images/icons/Calendar-white.svg') no-repeat;
          background-size: contain;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
      &.event-location {
        &:before {
          content: '';
          background: url('../images/icons/Location-white.svg') no-repeat;
          background-size: contain;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
