.context-section {
  // title
  .section-title {
    font-family: $libre;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: $textColor;
    margin-bottom: 60px;
    padding: 0;
    &:after {
      content: '';
      position: relative;
      display: block;
      margin-top: 5px;
      width: 35px;
      height: 2px;
      background: $aija-red;
    }
  }
  // content
  .section-content {

  }
}

.aija-by-numbers-section {
  padding: 35px 18px 52px;
  .section-title {
    margin-bottom: 36px;
  }
  .number-widget {
    max-width: 185px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
    @media screen and (max-width: 992px) {
      text-align: center;
    }
    h2,h3,h4,h5,h6 {
      margin: 0;
      line-height: 1;
    }
    .number,
    .sub-text {
      display: block;
    }
    .number {
      color: $aija-red;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      font-family: $libre;
    }
    .sub-text {
      font-family: $adamina;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $textColor;
      margin-bottom: 3px;
    }
    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $textColor;
      * {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
    }
  }
}

.awards-section {
  .container {
    padding: 34px 18px 56px;
    background: linear-gradient(260.75deg, #17233D 0%, #283A60 100%);
    * {
      color: $white;
      text-align: center;
    }
  }
}
