<div class="partner-with-item">
  <div class="item-header">
    <div class="left-side">
      <div class="icon orange">
        <img class="flag-image" src="assets/images/icons/partner-03.svg" alt="Proximity icon" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Direct participation</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Advertising with AIJA supports the efforts undertaken by the association to provide quality education, training and scholarship programmes to its 4,000 members <a href="#">[more]</a></p>
  </div>
</div>