<div class="partner-with-item">
  <div class="item-header">
    <div class="left-side">
      <div class="icon blue">
        <img class="flag-image" src="assets/images/icons/partner-01.svg" alt="Proximity icon" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Proximity</h4>
    </div>
  </div>
  <div class="item-content">
    <p>As an association we value 1-to-1 connections, therefore we design our events to help you develop quality business relationships by ensuring all sessions, exhibitions and <a href="#">[more]</a></p>
  </div>
</div>