<div class="partner-with-item">
  <div class="item-header">
    <div class="left-side">
      <div class="icon sky">
        <img class="flag-image" src="assets/images/icons/partner-02.svg" alt="Proximity icon" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">International exposure</h4>
    </div>
  </div>
  <div class="item-content">
    <p>As a sponsor, you meet and network with like-minded professionals that value growth, innovation, and new technologies for their own law firms as well as their clients <a href="#">[more]</a></p>
  </div>
</div>