<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/aija-icon.svg" alt="Access to myAIJA" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Access to myAIJA</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Where you will be able to find member-only content, and connect with other members through a discussion forum, business referral platform and a directory.</p>
  </div>
</div>