<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/people-group-solid-red.svg" alt="Knowledge and know-how" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Knowledge and know-how</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Gain access to AIJA events’ presentations delivered by renowned international speakers. Essential intelligence to improve your knowledge on international legal trends.</p>
  </div>
</div>