<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/earth-europe-solid.svg" alt="Develop your global network" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Develop your global network</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Connect with others looking to exchange information through online forums, in-person, hybrid and virtual events. Grow your professional network with AIJA members through friendships, referrals. Attend national and regional networking events organised by AIJA National Representatives.</p>
  </div>
</div>