<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/people-group-solid-red.svg" alt="Get involved in the association’s work" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Get involved in the association’s work</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Vote at the Annual General Assembly and stand for election as a Commission Officer, Executive Committee member, National/ Regional Representative, or Bureau member.</p>
  </div>
</div>