<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/people-group-solid-red.svg" alt="Strengthen your collective brand" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Strengthen your collective brand</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Offer your members the opportunity to speak at AIJA events alongside other high-calibre professionals representing your association. They will also build their own profile and get listed in the AIJA online directory with other 4,000+ lawyers from more than 90 countries.</p>
  </div>
</div>