<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/flag-solid-red.svg" alt="Develop leadership skills" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Develop leadership skills</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Volunteer in activities related to events, committees, Commissions, and publications. As a member, you will also join one or more AIJA Commissions where you can share best practices within your area of practice and meet peers. And you benefit from free business coaching at events.</p>
  </div>
</div>