<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/earth-europe-solid.svg" alt="International outlook" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">International outlook</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Join our events and get to know professionals from all over the world and receive valuable input for your own studies and future practice.</p>
  </div>
</div>