<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/lightbulb-on-solid-red.svg" alt="Enrich your professional knowledge" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Enrich your professional knowledge</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Access more than 20 events, including webinars, seminars, conferences, and the annual congress at discounted rates. You can gain insights into your area of practice and various jurisdictions around the world thanks to connections in the AIJA community.</p>
  </div>
</div>