<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/puzzle-solid-red.svg" alt="Leading contributor" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Leading contributor</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Strengthen your client base with AIJA by facilitating access to your products and services through exclusive discounts for our members in exchange for visibility across AIJA’s digital and social media channels.</p>
  </div>
</div>