<div class="simple-cards bordered">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/gavel-solid-red.svg" alt="Future Lawyers" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Future Lawyers</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Are you still studying law? Do you dream to become a lawyer, defend the rule of law and join a unique international community? Join AIJA now to prepare your future professional success...</p>
    <a href="#" class="more-link" onclick="return false">
      Find out more
      <span class="icon">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
          <path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </span>
    </a>
  </div>
</div>