<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/chess-knight-solid.svg" alt="Strategic Sponsorship" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">Strategic Sponsorship</h4>
    </div>
  </div>
  <div class="item-content">
    <p>Enjoy year-round access and exposure through multiple touch points, including events, newsletters, thought leadership articles, webinars, as well as exclusive networking and speaking opportunities.</p>
  </div>
</div>