<div class="simple-cards">
  <div class="item-header">
    <div class="left-side">
      <div class="icon red">
        <img class="flag-image" src="assets/images/icons/lightbulb-on-solid-red.svg" alt="International Newtwork" />
      </div>
    </div>
    <div class="right-side">
      <h4 class="cart-title">International Newtwork</h4>
    </div>
  </div>
  <div class="item-content">
    <p>The possibility to access the AIJA member directory, an exclusive community of top-level international lawyers. Start building your future professional network.</p>
  </div>
</div>