.event-menu {
  position: relative;
  margin-top: 6px;
  margin-bottom: 38px;
  @media all and(max-width: 767px) {
    margin: 0 0 32px;
  }
  .event-nav-toggle {
    text-align: left;

    padding: 13px 19px;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    justify-content: flex-start;
/*    &:focus{
      &:after {
        transition: .3s;
        transform: rotate(180deg);
      }
    }*/
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 33%;
      right: 13px;
      background: url(../images/icons/ArrowDown.svg) no-repeat;
      background-size: cover;
      border: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
    }
  }


  ul#event-nav {
    max-width: 230px;
    margin-left: 5px;
    width: 100%;

    @media all and(max-width: 767px) {
      margin: 0;
      display: none;
      &.show {
        display: block;
        max-width: 100%;
        position: absolute;
        background: $white;
        z-index: 2;
      }
    }

    .menu-item {
      margin-bottom: 6px;
      @media all and(max-width: 767px) {
        border-bottom: none;
        margin-bottom: 0;
      }

      &:last-child {
        border: none;
      }

      &.active {
        a {
          font-weight: 700;
          color: $textColor;
          background: $gray06;
        }
      }

      a {
        font-family: $clarica;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $gray02;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        border-radius: 7px;
        @media all and(max-width: 767px) {
          font-size: 14px;
        }
        .icon{
          margin-right: 4px;
        }

        &:hover {
          color: #FF4242;
        }
      }
    }
  }
}

.event-menu-btn{
  max-width: 230px;
}
.tabs-wrapper {
  box-shadow: 2px 1px 20px #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 300px;
  max-width: 500px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.nav-tabs {
  display: flex;
  li {
    border: 1px solid #ddd;
  }
}

.tab {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.5rem;
  transition: all 0.3s ease 0s;
}

.tab.is-active {
  background: #fff;
  color: #000;
}
.tab-panel {
  display: none;
  p {
    line-height: 1.6;
  }
  &.is-active {
    display: block;
  }
}

