.event-menu {
  ul {
    border: 1px solid $gray06;
    max-width: 210px;
    margin-left: 7px;
    @media all and(max-width: 992px) {
      margin-right: 0;
    }
    .menu-item {
      border-bottom: 1px solid $gray06;

      &:last-child {
        border: none;
      }

      &.active {
        a {
          font-weight: 500;
          color: $textColor;
          border-left: 3px solid #FF4242;
        }
      }

      a {
        font-family: $clarica;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $gray02;
        text-decoration: none;
        border-left: 2px solid $white;
        display: block;
        padding: 14px 20px;
        margin-left: 1px;

        &:hover {
          color: #FF4242;
        }
      }
    }
  }

  .btn-group{
    width: 100%;
    max-width: 210px;
    margin-left: 7px;
    @media all and(max-width: 992px) {
      margin-right: 0;
    }
  }
  .button {
    font-family: $clarica;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    position: relative;
    width: 100%;

    &.btn-red {
      color: $white;
      border: 1px solid $aija-red;
      background: $aija-red;
      transition: all .3s;

      &:hover {
        transition: all .3s;
        color: $aija-red;
        background: $white;
      }
    }

    &.btn-gray {
      color: $textColor;
      border: 1px solid $gray06;
      background: $gray06;
      transition: all .3s;

      &:hover {
        transition: all .3s;
        color: $aija-red;
      }
    }
    &.add-to-calendar{
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 13px;
        right: 13px;
        background: url('../images/icons/ArrowDown.svg') no-repeat;
        background-size: cover;
      }
    }
  }
}
