.latest-linkedin-posts {
  background-color: $aija-blue;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  @media all  and (max-width: 640px){
    padding: 22px 0 !important;
  }

  .section-title {
    color: $white;
    margin-top: 12px;
    margin-bottom: 33px;
    @media all  and (max-width: 640px){
      font-size: 18px;
      &:after{
        width: 50px;
      }
    }
  }

  .in-posts{
    margin-bottom: 12px;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
      border-radius: 10px;
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      background: $gray01;
    }
    .col{
      min-width: 262px;
    }
  }
  .in-widget-item {
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 30px;

    .item-logo {
      min-width: 50px;
      height: 60px;
    }

    .in-logo {
      min-width: 58px;
    }

    .item-title {
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.6px;
      a{
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: $aija-blue;
        text-decoration: none;
        transition-duration: .4s;
        &:hover{
          color: #06f;
          transition-duration: .4s;
        }
      }
    }
  }

  .in-widget-item-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .in-widget-item-desc {
    padding: 12px 14px 18px 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;

    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
