.main-title{
  .page-title{
    @media all and (max-width: 640px){
      font-size: 18px;
      line-height: 38px;
      margin-bottom: 0;
    }
    &:after {
      content: '';
      position: relative;
      display: block;
      width: 60px;
      margin-top: 5px;
      height: 2px;
      background: $aija-red;
      @media all and (max-width: 640px){
        width: 50px;
      }
    }
  }
}
.see-past-events{
  text-align: right;
  @media all and (max-width: 640px){
    display: none;
  }
  img{
    padding-right: 6px;
  }
  a{
    display: inline-flex;
    align-items: center;
    font-family: $clarica;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    color: $aija-blue;
    padding-right: 10px;
    transition: all .3s;
    &:hover{
      color: $aija-red;
      transition: all .3s;
    }
  }
}
.events-page-content{
  margin-bottom: 95px;
  margin-top: 15px;
  max-width: 570px;
  p{
    font-family: $clarica;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
  }
  a{
    font-family: $clarica;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: $aija-red;
    text-decoration: none;
  }
}
