.sponsorship-page,
.sponsorship-page-sub {
  background: url("../images/backgroungs/Subtract-sponsorship.svg") no-repeat;
  background-position: 100% 0;

  .page-title {
    margin-bottom: 26px;
  }
}

.sponsorship-page-sub {
  .sponsorship-section {
    margin-top: 0;
  }
}

.sponsorship-image {
  position: relative;
  max-width: 555px;
  margin-left: auto;
  display: block;
  padding-left: 40px;
  padding-bottom: 40px;

  img {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 5px;
  }

  &::before {
    content: '';
    background: url("../../assets/images/gots-for-image.svg") no-repeat;
    display: block;
    width: 81px;
    height: 81px;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.sponsorship-section {
  display: block;
  margin-bottom: 125px;
  margin-top: 60px;

  .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    font-family: $inter;
    margin-bottom: 42px;
  }

  .section-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    font-family: $clarica;
    color: $textBoldColor;

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;

      * {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
      }
      +p {
        margin-top: 18px;
        margin-bottom: 0;
      }
    }
  }
}