.subscribe-to-aija {

  background-image: url("../../assets/images/subtract.svg");
  background-repeat: no-repeat;
  background-position: 8% 100%;
  background-color: $aija-blue;

  .subscribe-form {
    .subscribe-info {
      h5 {
        color: $white;
        font-family: $inter;
        @media all  and (max-width: 640px){
          font-size: 16px;
          line-height: 19px;
        }
      }

      p {
        color: $white;
        font-size: 18px;
        @media all  and (max-width: 640px){
          margin-top: 8px;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 23px;
        }
      }
    }

    #subscribe {
      background: $aija-grey;
      padding: 0  4px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      @media all and(max-width: 460px) {
        padding: 0;
        width: 100%;
      }

      input {
        &[type="email"] {
          background: $aija-grey;
          border: none;
          outline: none;
          color: $white;
          width: 315px;
          padding: 13px 16px;
          @media all and(max-width: 460px) {
            width:calc(100% - 105px);
            font-size: 15px;
            padding: 10px 14px;
          }
        }
        &::placeholder{
          color: $white;
        }
      }

      button {
        &[type='submit'] {
          background: $aija-red;
          color: $white;
          border: 1px solid $aija-red;
          width: 100px;
          border-radius: 5px;
          height: 42px;
          transition: all .3s;
          font-size: 15px;
          font-family: $clarica;
          font-weight: 500;
          @media all and(max-width: 460px) {
            width: 98px;
            font-size: 15px;
            height: 38px;
          }
          &:hover {
            transition: all .3s;
            background: transparent !important;
            border: 1px solid $aija-red !important;
          }
        }
      }
    }
  }
}
