<div class="statistics-form-wrapper">
  <form class="form-group statistics-form" action="">
    <div class="item-wrap select-statistics-wrap">
      <label for="select-statistics">Representative’s statistics</label>
      <select id="select-statistics" value="" name="select-statistics" class="form-control form-select select-statistics" placeholder="All" data-parsley-errors-container="#errors">
        <option value="Algeria (John Smith)" selected>Algeria (John Smith)</option>
        <option value="Algeria (John Smith)">Algeria (John Smith)</option>
        <option value="Algeria (John Smith)">Algeria (John Smith)</option>
      </select>
    </div>
  </form>
  <span id="errors"></span>
</div>
