<div class="lesson-period-form-wrapper">
  <form class="form-group lesson-period-form" action="">
    <div class="item-wrap select-lesson-period-wrap">
      <label for="select-lesson-period">Select period</label>
      <select id="select-lesson-period" value="" name="select-lesson-period" class="form-control form-select select-lesson-period" placeholder="All" data-parsley-errors-container="#errors">
        <option value="" disabled selected>All</option>
        <option value="01.04.2022">April 2022</option>
        <option value="01.05.2022">May 2022</option>
        <option value="01.06.2022">June 2022</option>
        <option value="01.07.2022">July 2022</option>
      </select>
    </div>
  </form>
  <span id="errors"></span>
</div>
