<form class="form-group search-team" action="">
	<div class="item-wrap col-md-7 col-sm-12">
		<label for="select-member">Search by name</label>
		<div class="search-field-wrapper">
			<select id="select-member" value="" name="select-member" class="demo-default form-control  search-select"
							placeholder="Search..." data-parsley-errors-container="#errors">
				<option value="" disabled selected>Search...</option>
				<option value="Wade Warren">Wade Warren</option>
				<option value="Theresa Webb">&Aring;Theresa Webb</option>
				<option value="Guy Hawkins">Guy Hawkins</option>
				<option value="Jacob Jones">Jacob Jones</option>
			</select>
		</div>
		<div id="errors"></div>
	</div>
	<div class="item-wrap col-md-3 col-sm-12">
		<label for="select-department">Department?</label>
		<select id="select-department" value="" name="select-member" class="demo-default form-control  search-select"
						placeholder="All" data-parsley-errors-container="#errors">
			<option value="" disabled selected>All</option>
			<option value="Wade Warren">Wade Warren</option>
			<option value="Theresa Webb">&Aring;Theresa Webb</option>
			<option value="Guy Hawkins">Guy Hawkins</option>
			<option value="Jacob Jones">Jacob Jones</option>
		</select>
	</div>
	<div class="item-wrap col-md-2 col-sm-12">
		<button type="submit" class="btn btn-red mb-3">Search</button>
	</div>
</form>
