<div class="form-group search-commissions">
  <label for="select-country">Search Commissions by name</label>
  <div class="search-field-wrapper">
    <select id="select-commissions" value="" name="select-commissions" class="demo-default form-control search-select" placeholder="Search..." data-parsley-errors-container="#errors">
      <option value="" disabled selected>Search...</option>
      <option value="Antitrust">Antitrust</option>
      <option value="Banking, Finance and Capital Markets">Banking, Finance and Capital Markets</option>
      <option value="Commercial Fraud">Commercial Fraud</option>
      <option value="Corporate and M&A">Corporate and M&A</option>
      <option value="Environmental and Energy Law">Environmental and Energy Law</option>
      <option value="Healthcare and Life Sciences">Healthcare and Life Sciences</option>
      <option value="Immigration Law – 'Labour Law' Sub-Commission">Immigration Law – 'Labour Law' Sub-Commission</option>
      <option value="In-house Counsel">In-house Counsel</option>
      <option value="Intellectual Property, Technology, Media, and Telecomm...">Intellectual Property, Technology, Media, and Telecomm...</option>
      <option value="International Arbitration">International Arbitration</option>
      <option value="International Business Law">International Business Law</option>
      <option value="International Private Clients and Family Law">International Private Clients and Family Law</option>
      <option value="Labour Law">Labour Law</option>
      <option value="Litigation">Litigation</option>
      <option value="Real Estate">Real Estate</option>
      <option value="Skills, Career, Innovation, Leadership and Learning">Skills, Career, Innovation, Leadership and Learning</option>
      <option value="Sports Law – 'International Business Law' Sub-Commi...">Sports Law – 'International Business Law' Sub-Commi...</option>
      <option value="Trade, Retail, Agency, Distribution, E-commerce">Trade, Retail, Agency, Distribution, E-commerce</option>
      <option value="Tax Law">Tax Law</option>
      <option value="Transport Law">Transport Law</option>
    </select>
  </div>
  <div id="errors"></div>
</div>