<div class="event-item full-width">
  <div class="event-item-image">
    <span class="event-location">Online</span>
    <img src="assets/images/event1.png" alt="Event 1">
  </div>
  <div class="event-item-info">
    <div class="event-item__content">
      <span class="featured">
        <span class="icon">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 18V0H0V18L7 14.4878L14 18Z" fill="#E42313"/>
          </svg>
        </span>
        Featured event
      </span>
      <div class="event-date">10 April 2022 - <span>30 min</span></div>
      <h6 class="event-name"><a href="event-single.html">Transparency and Individuals' Privacy: a matter of human rights?</a></h6>
      <div class="event-tag d-flex align-items-center flex-wrap">
        <span>Intellectual Property, Technology, Media, and...</span>
      </div>
    </div>
    <div class="event-actions">
      <a href="#" class="button aija-button">Register now</a>
      <a href="#" class="button aija-button aija-button--bordered">More info</a>
    </div>
  </div>
</div>