<div class="event-item no-read-more">
  <div class="event-item-image">
    <span class="event-location">Miami</span>
    <img src="assets/images/event2.png" alt="Event 2">
  </div>
  <div class="event-item-info">
    <div class="event-item__content">
      <div class="event-date">20-23 April 2022</div>
      <h6 class="event-name"> <a href="event-single.html"> AIJA Americas Meeting</a></h6>
      <div class="event-tag d-flex align-items-center flex-wrap">
        <span>Intellectual Property, Technology, Media, and...</span>
      </div>
    </div>
  </div>
</div>