<div class="event-item">
  <div class="event-item-image">
    <span class="event-location">Washington DC</span>
    <img src="assets/images/event5.png" alt="Event 5">
  </div>
  <div class="event-item-info">
    <div class="event-item__content">
      <div class="event-date">02-04 May 2022</div>
      <h6 class="event-name"><a href="event-single.html">AIJA Breakfast at the Annual Meeting of the International Trademark
        Association</a></h6>
      <div class="event-tag d-flex align-items-center flex-wrap">
        <span>Labour Law</span>
        <span>Litigation</span>
        <span>SCILL</span>
      </div>
    </div>
    <a href="#" class="event-item__more" onclick="return false">
      Read more
      <span class="icon">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
          <path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </span>
    </a>
  </div>
</div>