<div class="event-item no-read-more">
  <div class="event-item-image">
    <span class="event-location">Naples</span>
    <img src="assets/images/event4.png" alt="Event 4">
  </div>
  <div class="event-item-info">
    <div class="event-item__content">
      <div class="event-date">25-26 April 2022</div>
      <h6 class="event-name"><a href="event-single.html">Building new opportunities: Restructuring the future with real estate</a></h6>
      <div class="event-tag d-flex align-items-center flex-wrap">
        <span>Insolvency</span>
        <span>Real Estate</span>
      </div>
    </div>
  </div>
</div>