<div class="event-menu" >
	<button class="event-nav-toggle button btn-white d-xl-none d-md-none d-sm-block">
		<span class="current-item"></span>
	</button>
	<ul id="event-nav"class="list-unstyled components">
		<li class="menu-item active"><a href="#tab-event_overview" data-tabs="#tab-event_overview">Event overview</a></li>
		<li class="menu-item"><a href="#tab-programme" data-tabs="#tab-programme">Programme</a></li>
		<li class="menu-item"><a href="#tab-general_info" data-tabs="#tab-general_info">Fees & General Info</a></li>
		<li class="menu-item"><a href="#tab-practical_info" data-tabs="#tab-practical_info">Practical Information</a></li>

		<li class="menu-item"><a href="#tab-documents" data-tabs="#tab-documents">Documents</a></li>
		<li class="menu-item"><a href="#tab-privacy-policy" data-tabs="#tab-privacy-policy">Privacy Policy</a></li>
	</ul>
</div>

<div class="btn-group flex-column d-sm-none d-none d-md-flex">
	<a href="#" class="button btn-red">Register now</a>
	<div class="dropdown to-calendar">
		<button class="btn button btn-gray add-to-calendar dropdown-toggle" type="button"
						id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			Add to calendar
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item" href="#"><img src="assets/images/icons/Google-calendar.svg" class="icon"
																								 alt="Google-calendar">Google Calendar</a></li>
			<li><a class="dropdown-item" href="#"><img src="assets/images/icons/outlool-calendar.svg" class="icon"
																								 alt="Outlook/iCal Calendar">Outlook/iCal Calendar</a></li>
		</ul>
	</div>
</div>
