<header class="main-header">
	<nav
		class="navbar navbar-expand-lg fixed-top navbar-light bg-light"
		aria-label="Main navigation"
	>
		<div class="container">
			<div class="navbar-left">
				<a class="navbar-brand" href="#">
					<img src="assets/images/logo-red.svg" alt="Aija Logo">
				</a>
			</div>

			<div class="navbar-collapse offcanvas-collapse" >
				<a data-bs-toggle="close-offcanvas" class="close-offcanvas">
					<img class="button-icon" src="assets/images/icons/Close.svg" alt="Close Mobile Navigation">
				</a>
				<div class="mobile-actions d-flex d-lg-none">
					<a href="#" class="button aija-button aija-button--transparent">
						<img class="button-icon" src="assets/images/icons/li_user.svg" alt="My AIJA Icon">
						My AIJA
					</a>
					<a href="#" class="button aija-button">Join AIJA</a>
				</div>
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item active">
						<a class="nav-link" aria-current="page" href="events.html">Events</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="dropdown-about"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>About AIJA</a
						>
						<ul class="dropdown-menu" aria-labelledby="dropdown-about">
							<li><a class="dropdown-item" href="about.html">About AIJA</a></li>
							<li><a class="dropdown-item" href="#">AIJA Team</a></li>
							<li><a class="dropdown-item" href="team-worldwide.html">Representatives Worldwide</a></li>	
							<li><a class="dropdown-item" href="team-collective.html">Collective Members</a></li>	
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="dropdown-membership"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>Membership</a
						>
						<ul class="dropdown-menu" aria-labelledby="dropdown-membership">
							<li><a class="dropdown-item" href="#">Apply for AIJA Membership</a></li>
							<li><a class="dropdown-item" href="#">Individual Membership</a></li>
							<li><a class="dropdown-item" href="#">Collective Membership</a></li>
							<li><a class="dropdown-item" href="#">Future Lawyers</a></li>
							<li><a class="dropdown-item" href="#">FAQ</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="commissions.html">Commissions</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="dropdown-sponsorship"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>Sponsorship</a
						>
						<ul class="dropdown-menu" aria-labelledby="dropdown-sponsorship">
							<li><a class="dropdown-item" href="#">Advertising and Sponsorship Opportunities</a></li>
							<li><a class="dropdown-item" href="#">Annual Sponsorship</a></li>
							<li><a class="dropdown-item" href="#">Online Advertising</a></li>
							<li><a class="dropdown-item" href="#">Focus: Legal Tech</a></li>
							<li><a class="dropdown-item" href="#">Sponsorsip Committee</a></li>
						</ul>
					</li>
				</ul>

				@@include('../modules/_social-links.html')

			</div>

			<div class="navbar-rigth">
				<a href="#header-search-bar" data-bs-toggle="searchbar" class="search-button">
					<img class="button-icon" src="assets/images/icons/search.svg" alt="Header Search Button">
				</a>
				<a href="#" class="button aija-button aija-button--transparent">
					<img class="button-icon" src="assets/images/icons/li_user.svg" alt="My AIJA Icon">
					My AIJA
				</a>
				<a href="#" class="button aija-button d-none d-lg-flex">Join AIJA</a>
			</div>
			<button
				class="navbar-toggler p-0 border-0"
				type="button"
				data-bs-toggle="offcanvas"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

		</div>
	</nav>

	<div class="searchbar-collapse">
		<div class="container">
			<form id="header-search-bar" class="d-flex main-header__search-form">
				<input
					class="form-control me-2"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<button class="btn btn-outline-success" type="submit">
					Search
				</button>
			</form>
		</div>

	</div>

</header>
