<header class="main-header">
	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light"
			 aria-label="Main navigation">
		<div class="container mt-2 mb-3">
			<div class="navbar-left">
				<a class="navbar-brand" href="#">
					<img src="assets/images/logo-red.svg" alt="Aija Logo">
					<span class="d-md-flex flex-md-column d-sm-none">INTERNATIONAL ASSOCIATION <strong>OF YOUNG LAWYERS</strong></span>
				</sapn>
			</div>

			<div class="navbar-rigth">
				<a href="#header-search-bar" data-bs-toggle="searchbar" class="search-button">
					<img class="button-icon" src="assets/images/icons/search.svg" alt="Header Search Button">
				</a>
				<a href="#" class="button aija-button aija-button--transparent">
					<img class="button-icon" src="assets/images/icons/li_user.svg" alt="My AIJA Icon">
					My AIJA
				</a>
				<a href="#" class="button aija-button d-none d-lg-flex">Join AIJA</a>
			</div>
			<button
				class="navbar-toggler p-0 border-0"
				type="button"
				data-bs-toggle="offcanvas"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

		</div>
		<div class="container-fluid navbar-center">
			<div class="container">
				<div class="navbar-collapse offcanvas-collapse justify-content-center">
					<a data-bs-toggle="close-offcanvas" class="close-offcanvas">
						<img class="button-icon" src="assets/images/icons/Close.svg" alt="Close Mobile Navigation">
					</a>
					<div class="mobile-actions d-flex d-lg-none">
						<a href="#" class="button aija-button aija-button--transparent">
							<img class="button-icon" src="assets/images/icons/li_user.svg" alt="My AIJA Icon">
							My AIJA
						</a>
						<a href="#" class="button aija-button">Join AIJA</a>
					</div>
					<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
						<li class="nav-item active">
							<a class="nav-link" aria-current="page" href="events.html">Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About AIJA</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="dropdown-membership"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>Membership</a
							>
							<ul class="dropdown-menu" aria-labelledby="dropdown-membership">
								<li><a class="dropdown-item" href="#">Membership 1</a></li>
								<li><a class="dropdown-item" href="#">Membership 2</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="dropdown-commissions"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>Commissions</a
							>
							<ul class="dropdown-menu" aria-labelledby="dropdown-commissions">
								<li><a class="dropdown-item" href="#">Commissions 1</a></li>
								<li><a class="dropdown-item" href="#">Commissions 2</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="dropdown-sponsorship"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>Sponsorship</a
							>
							<ul class="dropdown-menu" aria-labelledby="dropdown-sponsorship">
								<li><a class="dropdown-item" href="#">Sponsorship 1</a></li>
								<li><a class="dropdown-item" href="#">Sponsorship 2</a></li>
							</ul>
						</li>
						<li class="nav-item active">
							<a class="nav-link" aria-current="page" href="contact.html">Contact</a>
						</li>
					</ul>

					@@include('../modules/_social-links.html')

				</div>
			</div>
		</div>
	</nav>

	<div class="searchbar-collapse">
		<div class="container">
			<form id="header-search-bar" class="d-flex main-header__search-form">
				<input
					class="form-control me-2"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<button class="btn btn-outline-success" type="submit">
					Search
				</button>
			</form>
		</div>

	</div>

</header>
