<div class="faq-items">
	<h4 class="faq-title">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-item-01"
						aria-expanded="true" aria-controls="faq-item-01">
			Why should I join AIJA?
		</button>
	</h4>
	<div class="accordion-collapse collapse show" id="faq-item-01" data-bs-parent="#faq-section">
		Since 1962 AIJA provides outstanding international opportunities for young lawyers to network, learn and develop with peers from all over the world.
		<ul>
			<li>20+ events per year</li>
			<li>A global network with members in 90+ countries</li>
			<li>4,000+ individual members and supporters</li>
			<li>700+ law firms of all size</li>
			<li>50+ collective members (local bars and young lawyers’ organisations)</li>
			<li>21 business-related Commissions and a Human Rights Committee</li>
		</ul>
	</div>
</div>
