<div class="tab-item-content" id="tab-general_info">
	<h5>Fees & General Info</h5>
	<div class="general_info-group">
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				AIJA Member - On or before May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$450*">$450*</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				AIJA Member - After May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$450*">$450*</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				Young AIJA Member (<30) - On or before May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$250*">$250*</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				Young AIJA Member (<30) - After May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$350*">$350*</a>
			</div>
		</div>
	</div>

	<div class="general_info-group">
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				AIJA Member - On or before May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$450**">$450**</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				AIJA Member - After May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$650**">$650**</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				Young AIJA Member (<30) - On or before May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$250**">$250**</a>
			</div>
		</div>
		<div class="general_info-item d-flex align-items-center">
			<div class="general_info-name">
				Young AIJA Member (<30) - After May 02
			</div>
			<div class="general_info-button">
				<a href="#" class="button" data-hover="Register" data-value="$350**">$350**</a>
			</div>
		</div>
	</div>

</div>
