<div class="tab-item-content active" id="tab-event_overview">
	<h5>Event overview</h5>
	<div class="going-section d-flex align-items-center">
		<div class="icon-people">
			<span><img src="assets/images/people-icon.png" class="icon"
								 alt="people-icon"></span>
			<span><img src="assets/images/people-icon.png" class="icon"
					 alt="people-icon"></span>
			<span><img src="assets/images/people-icon.png" class="icon"
								 alt="people-icon"></span>
		</div>
		<span>3 people of your network is going</span>
	</div>
	<div class="connect-section d-flex">
		<div class="user-icon"><img src="assets/images/icons/li_user_white.svg" class="icon"
																alt="li_user_white"></div>
		<div class="user-coonect text-white">
			<p>Connect you to your account to discover who from your network is attempting to this event.</p>
			<a class="button btn-border">Connect</a>
		</div>
	</div>
	<div class="content">
		<p>
			The AIJA breakfast held at the International Trademark Association (INTA) Annual Meeting has already
			become a tradition for IP practitioners.
		</p>
		<p>
			Join us this year on <strong>Monday, 2 May 2022 from 09:30 to 11:30 EDT</strong> at the <strong>Marriot
			Marquis (Chinatown
			room) in Washington DC.</strong>
		</p>
		<p>
			<strong>Who can attend?</strong>
		</p>
		<ul>
			<li>
				All young IP lawyers - AIJA members, friends of our members or those who are dedicated to supporting TMs
				and IP related matters and are just curious to know more about AIJA
			</li>
			<li>
				If you know someone attending the INTA event, spread the word and have them join us!
			</li>
		</ul>
		<p>
			Please wear your <strong>INTA badge</strong> - this way all attendees will be compliant with INTA’s health
			policy.
		</p>
		<p>
			The total cost of the breakfast is <strong>75 USD</strong> per person.
		</p>
		<p>
			For further information, please contact office@aija.org
		</p>
	</div>
	<div class="separate">
		<strong>AIJA Commissions</strong>
		<ul>
			<li>Antitrust</li>
			<li>Corporate and M&A</li>
			<li>Labour Law</li>
		</ul>
	</div>
</div>
