<div class="tab-item-content" id="tab-event_overview">
	<h5>Event overview</h5>
	<div class="content">
		<p>
			The AIJA breakfast held at the International Trademark Association (INTA) Annual Meeting has already
			become a tradition for IP practitioners.
		</p>
		<p>
			Join us this year on <strong>Monday, 2 May 2022 from 09:30 to 11:30 EDT</strong> at the <strong>Marriot
			Marquis (Chinatown
			room) in Washington DC.</strong>
		</p>
		<p>
			<strong>Who can attend?</strong>
		</p>
		<ul>
			<li>
				All young IP lawyers - AIJA members, friends of our members or those who are dedicated to supporting TMs
				and IP related matters and are just curious to know more about AIJA
			</li>
			<li>
				If you know someone attending the INTA event, spread the word and have them join us!
			</li>
		</ul>
		<p>
			Please wear your <strong>INTA badge</strong> - this way all attendees will be compliant with INTA’s health
			policy.
		</p>
		<p>
			The total cost of the breakfast is <strong>75 USD</strong> per person.
		</p>
		<p>
			For further information, please contact office@aija.org
		</p>
	</div>
	<div class="separate">
		<strong>AIJA Commissions</strong>
		<ul>
			<li>
				Insolvency
			</li>
			<li>
				Real Estate
			</li>
		</ul>
	</div>
</div>
