<div class="tab-item-content" id="tab-practical_info">
	<h5>Prepare your stay</h5>
	<div class="content">
		<h6>Hotel Reservation</h6>
		<p>A limited number of rooms have been pre-booked at a preferential rate. Reservations should be made
			directly through the hotel. Credit card details must be given in order to secure your reservation.
			Please note that the number of rooms is limited. We recommend that you proceed with your reservations
			as soon as possible.
		</p>
	</div>
	<br>
	<div content="hotel-item">
		<div class="d-flex">
			<h6>Hotel Sheraton (5*)</h6> - <i>400m from event venue</i>
		</div>
		<ul>
			<li>
				<strong>Location</strong>: Colon de Larreategui, 9 48001 Washington DC, USA
			</li>
			<li>
				<strong>Phone</strong>: +1 44 444 555 6
			</li>
			<li>
				<strong>Email</strong>: wahsingtion@sheraton-hotels.com
			</li>
			<li>
				<strong>Website</strong>: www.sheraton.com/washingtondc
			</li>
			<li>
				<strong>Ref</strong>: AIJA Event
			</li>
		</ul>
		<div class="general_info-group">
			<div class="general_info-item d-flex align-items-center">
				<div class="general_info-name">
					Single Room
				</div>
				<div class="general_info-button">
					<a href="#" class="button" data-hover="Register" data-value="$220*">$220*</a>
				</div>
			</div>
			<div class="general_info-item d-flex align-items-center">
				<div class="general_info-name">
					ADouble room for single use
				</div>
				<div class="general_info-button">
					<a href="#" class="button" data-hover="Register" data-value="$260*">$260*</a>
				</div>
			</div>
			<div class="general_info-item d-flex align-items-center">
				<div class="general_info-name">
					Double room
				</div>
				<div class="general_info-button">
					<a href="#" class="button" data-hover="Register" data-value="$280*">$280*</a>
				</div>
			</div>
		</div>
	</div>
</div>
