.events-page {
  background: url("../../assets/images/map.svg") no-repeat;
  background-size: contain;
  background-position: 0 25px;
}

.event-item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
  border-radius: 7px;
  border: 1px solid $aija-gray2;
  overflow: hidden;

  @media all and (max-width: 640px) {
    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0px 4px 24px rgba(15, 43, 78, 0.08);

    .event-item-image {
      img {
        transform: scale(1.1);
        transition-duration: .4s;
      }
    }
  }

  .event-item-image {
    position: relative;
    overflow: hidden;
    min-height: 190px;
    max-height: 190px;
    border-radius: 7px 7px 0 0;

    @media all and (max-width: 640px) {
      max-height: 180px;
    }

    .event-location {
      position: absolute;
      top: 28px;
      background: $aija-blue;
      color: $white;
      padding: 2px 10px;
      font-size: 16px;
      font-weight: 500;
      z-index: 2;
      border-radius: 0 5px 5px 0;
    }

    .event-type {
      font-family: $clarica;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: $textColor;
      background: $white;
      border-radius: 17px;
      position: absolute;
      bottom: 18px;
      left: 18px;
      padding: 3px 10px 4px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;
    }

    img {
      max-height: inherit;
      min-height: inherit;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition-duration: .4s;

    }
  }

  .event-item-info {

    border-top: none;
    padding: 12px 16px 20px 16px;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;

    @media all and (max-width: 640px) {
      min-height: 170px;
    }

    @media screen and (max-width: 576px) {
      min-height: initial;
    }

    .event-date {
      display: block;
      font-family: $mulish;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $aija-blue;
      margin-bottom: 12px;

      span {
        font-weight: 700;
      }
    }

    .event-name {
      font-family: $inter;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $aija-blue;
      margin-bottom: 17px;

      a {
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        margin-bottom: 0;
        text-decoration: none;
        transition-duration: .4s;

        &:hover {
          color: $aija-red;
          transition-duration: .4s;
        }
      }
    }

    .event-tag {
      font-family: $clarica;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: $aija-blue;

      span {
        padding: 2px 8px 3px;
        background: $gray06;
        border-radius: 17px;
        display: block;
        margin-bottom: 10px;
        margin-right: 17px;
      }
    }
  }

  &__content {
    flex: 1;
    width: 100%;

    + .event-item__more {
      margin-bottom: 11px;
    }
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $clarica;
    color: $textColor;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    transition: color .3s ease-in-out;

    &:hover,
    &:focus {
      color: $aija-red;
    }

    & > svg,
    & > .icon {
      margin-left: 6px;
    }
  }


}

.event-results {
  .event-item {
  }
}

.event-item.no-read-more {
  .event-item-info {
    min-height: 179px;
  }
}

.event-item.full-width {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 56px;
  border-color: transparent;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
  }

  @media all and (max-width: 640px) {
    margin-bottom: 32px;
  }

  &:hover {
    box-shadow: none;
  }

  .event-item-image {
    max-width: 555px;
    min-height: 293px;
    max-height: 293px;
    flex: 1;
    border-radius: 7px;

    @media screen and (max-width: 980px) {
      max-width: 555px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .event-item-info {
    padding: 30px;
    border: none;
    max-width: 496px;
    flex: 1;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      padding-bottom: 0;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
      padding-top: 10px;
    }

    .event-date {
      color: $gray01;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      font-family: $clarica;
      margin-bottom: 2px;

      span {
        font-weight: inherit;
      }
    }

    .event-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 16px;

      @media screen and (max-width: 576px) {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
      }
    }
  }

  .featured {
    @media screen and (max-width: 576px) {
      margin-bottom: 13px;
    }
  }
}

.event-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 576px) {
    margin-top: 16px;
  }

  .button {
    padding: 8px 16px;

    + .button {
      margin-left: 14px;
    }

    &--bordered {
      padding: 8px 16px;
    }
  }
}
