<a href="#chat-01" class="message-item-big">
  <div class="message-header">
    <div class="message-user-info">
      <div class="message-user">
        <div class="user-photo">
          <img src="assets/images/Avatar_1.png" alt="Floyd Miles" />
        </div>
        <span class="user-status online"></span>
      </div>
      <h6 class="user-name">Floyd Miles</h6>
    </div>
    <div class="message-time">20min ago</div>
  </div>
  <div class="message-info">
    <div class="message-text">
      <p>Hey Olivia, can you please review the latest design when you can?</p>
    </div>
  </div>
</a>