<li class="chat-list-item">
  <div class="message-item-chat">
    <div class="message-user">
      <div class="user-photo">
        <img src="assets/images/Avatar_2.png" alt="Wade Warren" />
      </div>
      <span class="user-status online"></span>
    </div>
    <div class="message-info">
      <div class="message-header">
        <div class="message-user-info">
          <h6 class="user-name">Wade Warren</h6>
        </div>
        <div class="message-time">Friday 2:20pm</div>
      </div>
      <div class="message-text">
        <p>Hey Olivia, can you please review the latest design when you can?</p>
      </div>
    </div>
  </div>
</li> <!-- .chat-list-item -->