<li class="chat-list-item">
  <a href="admin-messages.html" class="message-item message-group type-new">
    <div class="message-user">
      <div class="photo-group">
        <div class="user-photo">
          <img src="assets/images/profile-photo-01.png" alt="Monty Dhaliwal" />
        </div>
        <div class="user-photo">
          <img src="assets/images/profile-photo-02.png" alt="Monty Dhaliwal 02" />
        </div>
      </div>
      <span class="user-status online"></span>
    </div>
    <div class="message-info">
      <h6 class="user-name">Group 1</h6>
      <div class="message-text">
        <p>Message text...</p>
      </div>
    </div>
    <div class="message-notif">
      <span class="bage">3</span>
    </div>
  </a>
</li>