<label for="search-member-admin">
	<div class="search-field-wrapper">
		<select id="search-member-admin" name="search-member-admin"
						placeholder="Search...">
			<option value="" disabled selected data-data='{"image":"assets/images/Avatar_1.png","type":"user" }'>
				Search...
			</option>
			<optgroup label="Users">
				<option value="Wade Warren" data-data='{"image":"assets/images/Avatar_2.png","type":"user"}'>Wade
					Warren
				</option>
				<option value="Theresa Webb" data-data='{"image":"assets/images/Avatar_3.png","type":"user"}'>Theresa
					Webb
				</option>
				<option value="Guy Hawkins" data-data='{"image":"assets/images/Avatar_4.png","type":"user"}'>Guy
					Hawkins
				</option>
				<option value="Jacob Jones" data-data='{"image":"assets/images/Avatar_5.png","type":"user"}'>Jacob
					Jones
				</option>
			</optgroup>
			<optgroup label="Events">
				<option value="Event in Berlin" data-data='{"image":"assets/images/Avatar-event.png","type":"event"}'>Event in Berlin
				</option>
				<option value="Belgium Summer Event" data-data='{"image":"assets/images/Avatar-event.png","type":"event"}'>Belgium Summer Event
				</option>
			</optgroup>
		</select>
	</div>
</label>
