<div class="people-item d-flex">
	<div class="people-part">
		<div class="people-image">
			<a href="#">
				<img src="assets/images/Avatar_3.png" class="icon"
						 alt="avatar_5">
			</a>
		</div>
		<div class="people-info d-flex flex-column">
			<a href="#" class="people-name">Jane Cooper</a>
			<span class="people-desc">NERA Economic Consulting, London, England</span>
		</div>
	</div>
	<div class="people-link">
		<a href="#">Discuss
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
				<path d="M9.42871 7.33337L13.4472 10.8495C13.5382 10.9292 13.5382 11.0709 13.4472 11.1506L9.42871 14.666v"
							stroke="white" stroke-width="1.5" stroke-linecap="round"/>
			</svg>

		</a>
	</div>

</div>
