.top-sidebar {
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #fff;

  .search-field-wrapper {
    margin: 0;
    .selectize-input {
      background-color: $white !important;
      border: 1px solid $gray04;
      border-radius: 7px;
      min-width: 280px;
      padding: 8px 8px 8px 40px;

      #search-member-admin-selectized {
        font-family: $clarica;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &::placeholder {
          color: $textColor;
        }
      }
    }

    .selectize-dropdown {
      margin-top: 20px;
      padding: 16px 20px;
      min-width: 396px;
      box-shadow: 0px 4px 24px rgba(15, 43, 78, 0.08);
      border-radius: 10px;
      border: none;

      @media all and(max-width: 600px) {
        min-width: 100%;
      }
      .selectize-dropdown-content {
        overflow-x: hidden;
        max-height: 400px;
        .optgroup {
          margin-bottom: 14px;
          &:before{
            display: none;
          }

          & > div {
            font-family: $inter;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            column-gap: 8px;
            align-items: center;
            padding: 0;
            margin-bottom: 8px;
            &.active{
              background: transparent;
            }


            .search-image {
              display: flex;
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            .search-image-event {
              display: flex;
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }
          }
          .optgroup-header {
            font-family: $clarica;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            padding: 0;
            margin-bottom: 8px;
            column-gap: 0px;
          }
        }
      }
    }
  }

  .control-section{
    justify-content: end;
    column-gap: 11px;
  }
}
