<div class="list-group-item">
	<div class="item-country-name d-flex">
		<div class="country-flag">
			<svg width="42" height="31" viewBox="0 0 42 31" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.59986 0.5C4.11468 0.5 2.69034 0.986262 1.64016 1.85181C0.589983 2.71737 0 3.89131 0 5.11538V25.8846C0 27.1087 0.589983 28.2826 1.64016 29.1482C2.69034 30.0137 4.11468 30.5 5.59986 30.5H13.9996V0.5H5.59986Z" fill="#141414"/>
				<path d="M14 0.5H27.9996V30.5H14V0.5Z" fill="#FDDA24"/>
				<path d="M36.3998 0.5H28V30.5H36.3998C37.885 30.5 39.3093 30.0137 40.3595 29.1482C41.4097 28.2826 41.9996 27.1087 41.9996 25.8846V5.11538C41.9996 3.89131 41.4097 2.71737 40.3595 1.85181C39.3093 0.986262 37.885 0.5 36.3998 0.5Z" fill="#EF3340"/>
			</svg>
		</div>
		<div class="country-name">Belgium</div>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Brussels French Speaking Bar Association<br>
			Ordre Français des avocats du Barreau de Bruxelles
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Liege Bar Association<br>
			Ordre des avocats du barreau de Liège
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Brussels Young Bar Association<br>
			Conférence du jeune barreau (CJBB)
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Liège Young Bar Association<br>
			Conférence Libre du Jeune Barreau de Liège (CLJB)
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Bar Association of the Province of Antwerp<br>
			Vlaamse Conferentie bij de balie te Antwerpen
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Gent Flemish Association of Lawyers<br>
			Vlaamse Conferentie der Balie van Gent
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
	<div class="item-section-description">
		<div class="item-description">
			Dutch Brussels Bar<br>
			Nederlandse Orde van Advocaten te Brussel (NOAB)
		</div>
		<a href="#" class="section-more-link">
			More info
			<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="11" cy="11" r="8.90476" fill="#E42313"/>
							<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					</span>
		</a>
	</div>
</div>
