<div class="context-section about-banner">
	<div class="container">
		<div class="row section-content">
			<div class="col-md-6 col-sm-12 d-flex  banner-content-col">
				<div class="banner-content-wrapper">
					<h2 class="page-title">AIJA is the only global association devoted to lawyers and in-house counsel aged 45 and under. </h2>
					<div class="banner-content">
						<p>Since 1962 AIJA provides outstanding international opportunities for young lawyers to network, learn and
						develop. AIJA currently has 4,000 members and supporters in 90 different countries, including over 60
						collective members and Bar Associations. The AIJA community is very diverse, as members come from law firms
							of all sizes and cultures.</p>

						<p>The activities of AIJA are coordinated by 20 scientific commissions, in charge of organising our events all
						around the globe and keeping members up to the date in their respective areas of practice. AIJA is committed
						to defend and take active part in promoting core legal principles, such as the rule of law and human rights
						principles. While respecting the integrity of each civilized society of the world, a particular aim of AIJA
						is to advance cross-cultural understanding between members and other participants in the legal profession as
						a whole.</p>

					</div>
					<div class="banner-actions flex-md-column ">
						<a href="#" class="section-more-link" onclick="return false">
							Click here to read statutes of AIJA
							<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
						</a>
						<a href="#" class="section-more-link" onclick="return false">
							Important resolutions and declarations of AIJA
							<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="11" cy="11" r="8.90476" fill="#E42313"></circle>
								<path d="M9.42856 7.33334L13.447 10.8495C13.5381 10.9292 13.5381 11.0708 13.447 11.1505L9.42856 14.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
							</svg>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 banner-image">
				<img src="assets/images/home-banner.jpg" alt="Features Banner Image"/>
			</div>
		</div>
	</div>
</div>
