<div class="context-section features-banner-home">
	<div class="container-fluid">
		<div class="row section-content">
			<div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-start banner-content-col">
				<div class="banner-content-wrapper">
					<h1 class="page-title">Welcome to AIJA, the International Association of Young Lawyers</h2>
					<div class="banner-content">
						<p>AIJA is the only global association devoted to lawyers and in-house counsel aged 45 and under. Since 1962 AIJA provides outstanding international opportunities for young lawyers to network, learn and develop.</p>
					</div>
					<div class="banner-actions d-flex">
						<a href="#" class="button aija-button">Join AIJA</a>
						<a href="#" class="button aija-button aija-button--transparent">About AIJA</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 banner-image">
				<img src="assets/images/home-banner.jpg" alt="Features Banner Image" />
			</div>
		</div>
	</div>
</div>

