<div class="locked-module">
  <div class="locked-module__image">
    <img src="assets/images/locked-banner.png" alt="Locked Image" />
  </div>
  <div class="locked-module__content">
    <h3>Want to read more?</h3>
    <p>This article is only available to AIJA members, join our community now and read this and more articles.</p>
    <a href="#" class="button aija-button button-aija-unlock">
      Join AIJA
      <span class="icon">
        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" stroke="white" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.3173 6.08585V4.4756C10.3173 2.59085 8.78881 1.06235 6.90406 1.06235C5.01931 1.0541 3.48481 2.5751 3.47656 4.4606V4.4756V6.08585" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.76225 14.9372H4.0315C2.461 14.9372 1.1875 13.6644 1.1875 12.0932V8.87645C1.1875 7.3052 2.461 6.03245 4.0315 6.03245H9.76225C11.3327 6.03245 12.6062 7.3052 12.6062 8.87645V12.0932C12.6062 13.6644 11.3327 14.9372 9.76225 14.9372Z" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.89844 9.65203V11.3178" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </span>
    </a>
  </div>
</div>