<ul class="social-links__wrapper">
	<li class="social-links-item">
		<a href="#" class="social-links-icon">
			<img class="button-icon" src="assets/images/icons/facebook.svg" alt="Facebook">
		</a>
	</li>
	<li class="social-links-item">
		<a href="#" class="social-links-icon">
			<img class="button-icon" src="assets/images/icons/linkedin.svg" alt="LinkedIn">
		</a>
	</li>
	<li class="social-links-item">
		<a href="#" class="social-links-icon">
			<img class="button-icon" src="assets/images/icons/twitter.svg" alt="Twitter">
		</a>
	</li>
	<li class="social-links-item">
		<a href="#" class="social-links-icon">
			<img class="button-icon" src="assets/images/icons/youtube.svg" alt="YouTube">
		</a>
	</li>
</ul>
